@use '../../../custom' as *;
@use '../../../components/mixins' as *;

.intro-to-news{
  margin-top: 20rem;


}

.container-custom-news{
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
  border-right: 0.4rem $headerback solid;
  & > h1{
    
  }
}


