@use '../../../custom' as *;



.first-intro{
  margin-top: 15.5rem !important;
  #three-fileds{
    margin-top: 5rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    & > div{
      & > h3{
        cursor: pointer !important;
      }
    }
  }
}

.service-box-fields{
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  & > img {
    width: 25em;
    display: block;
    object-fit: contain;
  }
}

// .service-box-fields::after {
//   content: '';
//   display: block;
//   margin: auto;
//   height: 4px;
//   width: 0px;
//   background: $headerback !important;
//   transition: all 0.1s linear;
// }
.service-box-fields:hover::after {
  width: 100%;
}

.each-service-aboutus{
  margin:2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &--title{
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 2em;
    border-right: 4px $headerback solid;
  }

  &--list{
    margin-right: 3rem;
    margin-top: 1rem;
    & > li{
      text-decoration: none !important;
      padding: 0.5rem !important;
    }
  }
}

