@use '../../../custom' as *;



.customer{
  margin-top: 15rem;
  & > div{
    & > div{
      & > div{
        & > ul {
          & > li {
            justify-content: center;
            text-align: center;
            & > img {
              width: 200px;
              height: 200px;
              max-height: 500px;
              max-width: 500px;
            }
          }
        }
      }
    }
  }
}

.customer-custom{
  justify-self: center !important;
  & > div{
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    & > img{
      max-width: 100px;
      max-height: 100px;
      
    }
  }
}