@use '../../../custom' as *;
@use '../../../components/mixins' as *;


.footer{
  padding-top:1rem;
  margin-top: 5rem;
  background-color: red;
  background-color: $footer;
  h1,h2,h3,h4,h5,h6,p{
    color: white !important;
  }
  p{
    text-align: start !important;
  }
  & > section{
    & >div{
      & > div{
        & > div{
          & > img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

// STYLES THE CONTACT-BOX CONTENT

.contact-box{
  position: relative;
  align-items: center;
  justify-content: center;
  &__icon{
    width: 2rem;
    stroke: $white;
    fill: $white;
    @include media-breakpoint-up(sm){
      width: 4rem;
    }
  }

  &__info{
    padding: 0.4rem;
    
    &--title{
      color: $white;
      text-decoration: none;
      font-size: 1rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
      }
    }
    
    &--subtitle{
      margin: 0;
      font-size: 0.8rem;
      color: $gray-600;
      text-decoration: none;
       @include media-breakpoint-up(sm) {
         font-size: 1rem;
       }
    }
  }
}

// Style The Social Media


.footer-sm{

  a{
    color: $white;
    i{
      font-size: 1rem;
      margin-left: 1rem;
      @include media-breakpoint-up(sm){
        font-size: 1.6rem;
      }
    }
  }

}

// STYLE THE COMPANY INFO CONTENT

.company-list{
  display: block;
  list-style-type: none;
  position: relative;
  padding: 0;
  li{
    margin-bottom:0.5rem ;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    a{
      color: $white;
      text-decoration: none;
      &:hover{
        color: $primary;
      }
    }
  }
}

.footer-bottom{
  background-color: $black;
  &__copyright {
    color:$gray-600;
    font-weight:400;
    a{
      color: $gray-300;
      text-decoration: none;
      &:hover{
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}


.back-to-top{
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 100;
  i{
    color:$white;
    font-size: 1rem;
    @include absoluteCenter;
  }
}

.footer-logo{
  width: 100px;
  height: 100px;
}