@use '../../../custom' as *;

.body-custom{
  overflow-x: hidden;
  background-color: #cccaca41;
  overflow-x: hidden !important;
}

.intro{
  padding-top: 15rem;
  // padding-bottom: 5rem;
  // margin-top: 5rem;
  // height: 600px;
  // height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-container{
  margin-top: 10rem;
}

.less-complain{
  margin: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}