@use '../../../custom' as *;
@use '../../../components/mixins' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-custom{
  
}

.col-items{
  @include transitionProperty;
  display: flex !important;
  justify-items: start !important;
  justify-content: start !important;
}

.header{
  .nav-special{
    // @include transitionProperty;
    // visibility: hidden;
    // opacity: 0;
    // max-height: 100px;
    display: none;
  }
  @include transitionProperty;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 !important;
  background-color: $headerback;
  box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.2);
  height: auto;
  & >* {
    color: $newdemico;
  }
  //  &>div:nth-child(1) {
  //    @include transitionProperty;
  //    max-height: 700px !important;
  //  }
  .logo-container-navbar {
    display: flex !important;
    padding: 0;
    margin: 0;
    align-items: flex-end !important;
    justify-content: flex-start !important;
     & > img {
       position: absolute;
       object-fit: contain;
       width: 180px; 
       height: 150px;
       top: -15px;
       right: 10px;
     }
  }
  @include media-breakpoint-down(lg) {
    // .logo-container-navbar {
    //   display: none !important;
    //   width: 0 !important;
    //   height: 0 !important;
    // }
    .row-first-custom{
      display: flex !important;
      justify-content: flex-start !important;

    }
    #iranflag{
      display: none;
    }
    .logo-main-navbar{
      display: none !important;
    }
    .logo-container-navbar{
      display: flex !important;
      padding: 0;
      margin: 0;
      align-items: center !important;
      justify-content: flex-start !important;
    }
    #logo-main{
      display: none !important;
      max-width: 0 !important;
    }
    position: relative !important;
  }

  #logo-main{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  ul{
    background-color: $headerback;
  }
}

.header-scrolled{
  @include transitionProperty;
  height: 50px;
  .col-items{
    display: flex !important;
    justify-items: center !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center;
  }

  & > div:nth-child(1){
    visibility: hidden;
    opacity: 0;
    max-height: 0 !important;
  }
  .nav-special{
    // visibility: visible;
    // opacity: 1;
    // max-height: 100px;
    // display: flex;
  }
  opacity: 0.8;
}

.divider-custom{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo{
  height: 100%;
  width: 100%;
  max-width: 150px;
  max-height:150px;
}

.logo-demico{
  height: 0px;
  width: 0px;
}

.navbar-container{
  width: 100% !important;
  & > * {
    color: white !important;
  }
  // background-color: #8780f0;
}

.ul-custom{
  width: auto !important;
  
  li{
    a{
      color:white  !important;
    }
  }
} 

.row-first-custom{
  width: 100vw !important;
  justify-content: center;

}

.language-select{
 & > span{
   &:hover{
     cursor: pointer;
    color: #726de4;
   }
 }
}

.logo-main-navbar{
  width: 100%;
  // height: 50%;
  padding: 0;
  margin: 0;
  max-width: 190px;
  max-height: 150px;
  // object-fit: contain;
  display: flex;
  justify-self: start;
  align-items: center;
  & > img {
    width: 150px;
    height: 170px;
    position: relative;
    margin-bottom: 2rem !important;
    object-fit: contain;
  }
}

.nav-item{
  font-size: 0.8em !important;
}

.nav-with-sub{

}

.dropdown-custom-main{
  & > ul{
  background-color: $headerback !important;
  & > li{
    &:hover{
      background-color: none !important;
    }
  }
}
}

#shoar{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.dropdown-custom-smalldevice{
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.parcham-container{
 height: 100px;
  
}

.parcham{
  position: relative;
  top: -40px;
  left: 0;
  padding: 0;
  margin: 0;
  width: 150px !important;
  height: 150px !important;
  object-fit: contain;
  @include media-breakpoint-down(sm){
    display: none;
  }
}

.row-image-des{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.engper{
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}