@use '../../../custom'as *;

.services{
  position: relative;
  padding: 1rem 0 ;
  align-items: center;
  justify-content: center;
  &__content{
    background-color: $demico;
    color: white;
    padding: 5rem;
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin-top: 0;
    p{
      font-size: 0.8rem;

      @include media-breakpoint-up(lg){
        font-size: 1rem;
      }
    }
    @include media-breakpoint-up(lg){
    }
    .icon{
      font-size: 2.5rem;
      color: $black;

    }
  }
  img{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
  &__pic{
    overflow: hidden;
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.custom-image-news{
  max-width: 400px;
  max-height: 400px;
  @include media-breakpoint-down(lg){
    max-width: 300px;
    max-height: 300px;
  }
  @include media-breakpoint-down(md){
    max-width: 200px;
    max-height: 200px;
  }
}

#news-container{
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}