@use '../../../custom' as *;
@use '../../../components/mixins' as *;



.product{
  margin-top: 15rem;
}

.product-second-column{
  display: flex !important;
    align-content: center !important;
  flex-direction: column;
}

.image-custom-product{
    @include media-breakpoint-down(lg) {
      width: 150px;
      height: 100px;
    }
    @include media-breakpoint-up(md){
      max-width: 500px;
      max-height: 500px;
    }
}