@use '../../../custom' as *;


.products-daronchahi{
  margin: 15rem 0 2rem 0;
}

.product-custom-info{
  h3{
    border-left: 4px solid $headerback;
  }
  margin-bottom: 8rem;
}

.margin-adder-product{
  margin-top: 20rem !important;
}