@use '../../../custom' as *;
@use '../../../components/mixins' as *;

.portfolio{
  button{
    text-transform: capitalize;
  }
  margin:0 5rem;
  margin-right: 8rem;
}

.imagefooter {
  max-width: 300px !important;
}
.something{
  
}

.portfolio-box{
  position: relative;
  width: 100%;
  height: 18.5rem;
  // padding: 2rem;
  margin: 2rem;
  overflow: hidden;
  border-top: 0.5rem solid $headerback;
  vertical-align: middle !important;
  img{
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle !important;
    position: absolute;
    width:100%; 
  }
  .portfolio-info{
    @include transitionProperty;
    background-color: rgba($primary, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    .caption{
      color: $white;
      text-align: center;
      @include absoluteCenter;    
      h4{
        text-transform: uppercase;
        display: block;
      }
    }
  }
  &:hover{
    .portfolio-info{
      opacity: 1;
      visibility: visible;
    }
  }
}
.portfolio-box2{
  position: relative;
  width: 100%;
  height: 18.5rem;
  // padding: 2rem;
  margin: 2rem;
  overflow: hidden;
  border-top: 0.5rem solid $headerback;
  vertical-align: middle !important;
  img{
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle !important;
    position: absolute;
    width:100%; 
  }
  .portfolio-info{
    @include transitionProperty;
    background-color: rgba($headerback, 0.65);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    .caption{
      color: $white;
      text-align: center;
      @include absoluteCenter;    
      h4{
        text-transform: uppercase;
        display: block;
      }
    }
  }
  // &:hover{
  //   .portfolio-info{
  //     opacity: 1;
  //     visibility: visible;
  //   }
  // }
}


.custom-list-product-hafari{
  list-style: none;
  display: inline-block;
  & > li{
    text-decoration: none;
  }
}

.portfolio-box3 {
  position: relative;
  width: 100%;
  height: 18.5rem;
  margin: 2rem;
  overflow: hidden;
  border-top: 0.5rem solid $headerback;
  vertical-align: middle !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .rotatedpic{
    transform: rotate(180deg);
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle !important;
    position: absolute;
    height: 100%;
  }

  img {
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle !important;
    position: absolute;
    height: 100%;
  }


  .portfolio-info {
    @include transitionProperty;
    background-color: rgba($primary, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    .caption {
      color: $white;
      text-align: center;
      @include absoluteCenter;

      h4 {
        text-transform: uppercase;
        display: block;
      }
    }
  }

  &:hover {
    .portfolio-info {
      opacity: 1;
      visibility: visible;
    }
  }
}


@media (max-width: 400px) {
.portfolio {
  button {
    text-transform: capitalize;
  }

  margin:0 0;
  margin-right: 4rem;
}

}