{% extends "base.html" %}
{% load static %}

{% block title %}
{% endblock %}
{% block content %}

  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="aboutus" class="aboutus">
  <div class="container first-intro" dir="rtl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Section Title -->
        <div class="section-title" data-aos="fade-right">
          <h1>درباره ما</h1>
          <div class="divider"></div>
         
          <p class="p-tag">
             حوزه کاری
            شرکت محصولات و قطعات مجاز بازرگانی، تصدی به معاملات بازرگانی، پژوهشی، اداری و خدماتی به هر نحو که به امور شرکت مربوط
            باشد و همچنین ماشین آلات، تجهیزات و قطعات صنعتی، انجام کلیه فعالیتهای عمرانی و راه سازی در ارتباط با مقاصد شرکت، صادرات
            و واردات انواع مواد اولیه، | سایتهای مخابراتی و تولید انواع محصولات مورد نیاز صنایع مخابرات و فناوری اطلاعات، طراحی،
            مهندسی، ساخت، تولید و مونتاژ انواع مجموعه ها، شرکت انجام کلیه فعالیتهای مرتبط با صنایع نفت و انرژی و همچنین تولید انواع
            محصولات مورد نیاز صنایع نفتی و نیروگاهی، ایجاد و راه اندازی سبد محصولات و خدمات حال حاضر با در اختیار داشتن بالغ بر 100
           نفر پرسنل عمدتا در زمینه تولید محصولات و ارائه خدمات مشاوره ای و مشارکت در طرحهای سرمایه گذاری تولیدی و غیر
           تولیدی نیز از دیگر فعالیتهای شرکت دمیکو میباشد.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row " id="three-fileds">
    <div class="col service-box-fields col-lg-4" onclick="scrolling('gaz')">
      <h3 class="byekanfont text-center " data-aos="fade-right">طراحی و ساخت تجهیزات استخراج و بهره برداری از منابع نفت و گاز</h3>
      <img src="{% static 'images/aboutus/5.jpg' %}" class="aboutusimage" />
    </div>
    <div class="col service-box-fields col-lg-4" onclick="scrolling('hafari')">
      <h3 class="byekanfont text-center ">خدمات حفاری</h3>
      <img src="{% static 'images/products/hafari/dastgahtazrigh/product.jpg' %}" class="aboutusimage" />
    </div>
    <div class="col service-box-fields col-lg-4" onclick="scrolling('mokhaberati')">
      <h3 class="byekanfont text-center " data-aos="fade-left">
        طراحی , ساخت , نصب و راه اندازی انواع تجهیزات و سایت های مخابراتی
      </h3>
      <img src="{% static 'images/aboutus/2.jpg' %}" class="aboutusimage" />
    </div>
  </div>
  
  <div class="row each-service-aboutus" dir="rtl" id="gaz">
    <div class="row">
      <div class="col">
        <h1 class="each-service-aboutus--title">طراحی و ساخت تجهیزات استخراج و بهره­ برداری از منابع نفت و گاز</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="each-service-aboutus--list">
          <li> طراحی و ساخت رشته های تکمیلی درون چاهی   </li>
          <li>طراحی و تولید تجهیزات حفاری</li>
          <li> ساخت قطعات مجموعه های اندازه گیری حین حفاری (MWD)</li>
          <li>طراحی و تولید گلوله و تجهیزات مشبک کاری</li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="row each-service-aboutus" dir="rtl" id="hafari">
    <div class="row">
      <div class="col">
        <h1 class="each-service-aboutus--title">خدمات حفاری</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="each-service-aboutus--list">
          <li>
          تزریق نیتروژن (Nitrogen Generator): از نیتروژن با خلوص بین 95 تا 97% برای بهبود و بازیافت فشار در مخازن نفت و گاز استفاده می شود که کاربردهای آن: تحریک چاه های نفتی و افزایش برداشت، پاکسازی جهت انجام تست فشار خطوط نفت و گاز، پیگ رانی، خشک کردن خطوط و تجهیزات نفت و گاز، اطفاء حریق چاه های نفتی و ایمن سازی آن ها، حفاری چاه ها به روش زیر فشار تعادل مخزن، تکمیل چاه های نفتی و مخلوط کردن مایعات با چگالی کم هنگام سیمان کاری می باشد.
          </li>
          <li>
           	اسید کاری (Acidizing): هدف اصلی، تحریک طبقات تولید کننده نفت و گاز می باشد که به-صورت احیاکردن چاه های نفتی، بازکردن خلل و فرج، افزایش تولید و نفوذپذیری، تمیزکاری چاه و لوله ها، آزادسازی لوله های حفاری و کاهش ضریب پوسته می باشد.
          </li>
          <li>
           سیمان کاری (Cementing): اهدف اصلی از این عملیات نشت بندی فضای بین لوله جداری رانده شده و سازند حفاری، مسدود نمودن ناحیه ای از سازند که در آن هرزروی گل و حفاری اتفاق می افتد، جهت قرار دادن پلاگ سیمانی بمنظور منحرف نمودن چاه و مسدود نمودن ناحیه ای از مخزن که در فرایند تولید اختلال ایجاد می کند و در نهایت جهت مسدودنمایی و متروکه نمودن چاه می باشد. 
          </li>
          <li>
          دستگاه جداسازی سیار نفت (MOS) : هنگامی که در سیستم‌های پالایشگاهی به جداسازی آب و گاز از نفت نیاز می‌باشد از سیستم‌های
          جداسازی سیار استفاده می‌شود. این دستگاه با دستگاه فرآورش سیار نفت MOT در یک فیلد قرار می گیرند. MOT یک عملیات بیشتر نسبت
          به MOS انجام می دهد.
          </li>
          <li>
           مشبک کاری (Perforation): ایجاد سوراخ در بدنه لوله های جداری کارگذاشته شده درون چاه های نفتی به منظور تولید نفت و
          بهره برداری از چاه حفر شده.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row each-service-aboutus" id = "mokhaberati" dir="rtl">
    <div class="row">
      <div class="col">
        <h1 class="each-service-aboutus--title">طراحی , ساخت , نصب و راه اندازی انواع تجهیزات و سایت های مخابراتی</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="each-service-aboutus--list">
          <li>طراحی شبکه های مخابراتی تلفن همراه</li>
          <li> طراحی و اجرای سایت های BTS</li>
          <li>طراحی سیستم انتقال و رادیویی</li>
          <li>ساخت انواع دکل‌های مخابراتی (ICB, RDS, NB, Lattice) , ladder, fence, rack</li>
          <li>Drive Test</li>
        </ul>
      </div>
    </div>
  </div>

</section>




{% endblock %}