{% extends 'base.html' %}
{% load static %}


{% block title %}
مشتریان
{% endblock %}


{% block content%}
  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="customer" class="customer">

<div class="container">
  <div class="row">
    <div class="col col-lg-6">
      <div class="section-title" data-aos="fade-right">
        <h1> مشتریان نفت</h1>
        <div class="divider"></div>
         <div class="row customer-custom">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/falateghare.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/manateghnafti.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/peco.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/haffari.jpg' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/NIDC.png' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/pedco.jpg' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/gostarpars.png' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/emed.png' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/fk.jpg' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/header.jpg' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/ipgn.png' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/jonob.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mapna.jpg' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mehran.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/melinaftkhiz.jpg' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/NIDC.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/oeoc.jpg' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/peco.png' %}" />
            </div> 
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/pedco.jpg' %}" />
            </div>
          </div>
      </div>
    </div>
    <div class="col col-lg-6">
      <div class="section-title" data-aos="fade-left">
        <h1> مشتریان مخابرات</h1>
        <div class="divider"></div>
         <div class="row customer-custom">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/rightel.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/ericsson.jpg' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/irancell.gif' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/icon.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/irantower.jpg' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/nak.png' %}" />
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
              <img src="{% static 'images/customer/mokhaberat/main.png' %}" />
            </div>
         </div>
      </div>
    </div>
  </div>
</div>
  <div class="row customer-custom">
    
    
    <!-- <div class="col-lg-3 col-md-4 col-sm-6">
      <img src="./images/customer/manateghnafti.png" />
    </div> -->
  </div>
</section>



<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



{% endblock %}