<html lang="en">
{% load static %}

{% load change %} 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>صفحه اصلی</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Markazi+Text:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendors/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="{% static 'images/navbar/logo.png' %}" />
<style>
  * {
    font-family: 'BYekan', Sans-Serif;
  }
</style>

</head>
<body class="body-custom">
   
  <!-- /////////////////////////////new header and navigation\\\\\\\\\\\\\\\\\\\\\\ -->
  <div id="header" class=" header m-0 p-0">
    <div class="row row-first-custom m-0">
      <div class="col col-lg-1 col-sm-12 col-md-12 justify-content-center p-0 m-0">
        <div class="row"> 
          <div class="parcham-container">
            <img src="{% static 'images/navbar/parcham.png' %}" class="parcham" />
          </div>
          <div class="byekanfont--description">
            <p class="byekanfont--description2 text-white engper">
              FA / EN
            </p>
          </div>
        </div>
      </div>
      <div class="col col-lg-9 col-sm-12 col-md-12 justify-content-center p-0 m-0"  dir="rtl">
        <div class="row mx-1 text-light ">
            <div class="row justify-content-center p-0 m-4">
              <div class="col col-lg-8 byekanfont justify-content-center centering-content">
              شرکت طراحی مهندسی و توسعه ساخت ایمن ایرانیان (دمیکو)
              </div>
              <div class="row col-lg-4 byekanfont justify-content-center">
                <span class="byekanfont--description2 row justify-content-start mt-2" id="date">
                </span>
              </div>
            </div>
        </div>
        <div class="row" dir="rtl">
          <nav class="navbar navbar-expand-lg navbar-dark menu col-lg-9 col-md-10 centering-content ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse col col-lg-12 col-md-12 col-sm-12 navbar-collapse justify-content-start  centering-content" id="navbarNav">
              <ul class="navbar-nav ul-custom" dir="rtl">
                <li class="nav-item">
                  <a class="nav-link service-box active" aria-current="page" href="{% url 'blog:main' %}">خانه</a>
                  <!-- file  main html -->
                </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="{% url 'blog:aboutus' %}">درباره ما</a>
                  <!-- file aboutus html -->
                </li>
                <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                  <a class="nav-link service-box nav-with-sub" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-bs-auto-close="outside">
                    مدیریت
                    <i class="fas fa-sort-down"></i>
                  </a>
                  <ul class="dropdown-menu text-end"  
                    data-bs-auto-close="outside">
                    <li data-bs-auto-close="outside">
                      <a class="dropdown-item"  id="navbarDropdowns" href="{% url 'blog:organizationconstruction' %}">
                      ساختار سازمانی
                      <!-- file orhanizationconstruction html -->
                    </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">مدیر عامل</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">هیئت مدیره</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:strategyandgoals' %}">استراتژی و هدف</a>
                      <!-- file strategy&goals html -->
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:policyguidline' %}">خطی مشی</a>
                      <!-- file policyguidline html  -->
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:process' %}">معماری فرایندها</a>
                      <!-- file process html -->
                    </li>
                  </ul>
                </li>
               <li class="nav-item dropdown dropdown-custom-main">
                 <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                   گواهینامه ها و استاندارد ها
                  <i class="fas fa-sort-down"></i>
                 </a>
                 <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
                   <li>
                     <a class="dropdown-item" href="{% url 'blog:licenseiso' %}">گواهینامه های مدیریتی و سیستم</a>
                     <!-- file licenseiso html -->
                    </li>
                   <li>
                     <a class="dropdown-item" href="{% url 'blog:licenseentebagh' %}">گواهینامه های انطباق محصول</a>
                     <!-- file licenseentebagh html -->
                    </li>
                   <li>
                     <a class="dropdown-item" href="{% url 'blog:licensetaeidie' %}">تاییدیه های محصولات</a>
                     <!-- flie licensetaeidie html -->
                    </li>
                    <li>
                     <a class="dropdown-item" href="{% url 'blog:licesnsesaier' %}">سایر</a>
                     <!-- flie licesnsesaier html -->
                    </li>
                 </ul>
               </li>
               <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                 <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" data-bs-auto-close="outside">
                   محصولات و خدمات
                  <i class="fas fa-sort-down"></i>
                 </a>
                 <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown" data-bs-auto-close="outside">
                   <li  data-bs-auto-close="outside">
                     <a class="dropdown-item"
                      href="{% url 'blog:p-2product' %}"
                      role="button"
                      data-bs-toggle="dropdown"
                      data-bs-auto- close="outside"
                      id="navbarDropdowns">
                     محصولات و خدمات رشته های تکمیلی و درون چاهی
                    </a>
                    <!-- file p-2product html -->
                      <ul class="dropdown-menu  text-end dropdown-custom-smalldevice" aria-labelledby="navbarDropdownsub"
                        id="undermanagment">
                        <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            ارائه خدمات رانش و تعمیرات
                          </a>
                        </li>
                        <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">                      
                          <a class="dropdown-item text-end" role="button" href="{% url 'blog:lavazemyadaki' %}"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            لوازم یدکی رشته های تکمیلی درون چاهی
                          </a>
                                                 <ul class="submenu dropdown-menu">
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedSwedge' %}">FLUTED SWEDGE</a>
                            <!-- file lavazemflutedswedge html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedCasing' %}">FLUTED CASING SUB</a>
                            <!-- file lavazemFlutedCasing html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlowCouplin' %}">FLOW COUPLING</a>
                            <!-- file lavazemFlowCouplin html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemTubingCross' %}">TUBING CROSS OVER</a>
                            <!-- file lavazemTubingCross html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOut' %}">MILL OUT EXTENSION</a>
                            <!-- file lavazemMillOut html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOutExtension' %}">MILL OUT EXTENSION</a>
                            <!-- file lavazemMillOutExtension html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemTopNoGo' %}">TOP NO GO LANDING NIPPLE</a>
                            <!-- file lavazemTopNoGo html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemBottomNoGo' %}">Bottom NO GO LANDING NIPPLE</a>
                            <!-- file lavazemBottomNoGo html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemPerforated' %}">PERFORATED POP JOINT</a>
                            <!-- file lavazemPerforated html -->
                          </li>
                        </ul>
                        </li>
                          <a class="dropdown-item text-end" role="button"
                            href="{% url 'blog:daronchahi' %}"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            رشته های تکمیلی درون چاهی
                          </a>
                           <ul class="submenu dropdown-menu">
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                               <!-- file productAnchor html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                               <!-- file product productLockMandrel -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                               <!-- file productPacker html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                               <!-- file productSafetyValve html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                                <!-- file productSSD html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                                <!-- file productTravel html -->
                              </li>
                           </ul>
                        </li>
                      </ul>
                     <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item text-end" href="#">ارائه خدمات رانش و تعمیرات</a></li>
                      <li><a class="dropdown-item text-end" href="{% url 'blog:lavazemyadaki' %}">لوازم یدکی رشته های تکمیلی درون چاهی</a>
                        <ul class="submenu dropdown-menu">
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedSwedge'%}">FLUTED SWEDGE</a>
                            <!-- file lavazemflutedswedge html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedCasing' %}">FLUTED CASING SUB</a>
                            <!-- file lavazemFlutedCasing html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlowCouplin' %}">FLOW COUPLING</a>
                            <!-- file lavazemFlowCouplin html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemTubingCross' %}">TUBING CROSS OVER</a>
                            <!-- file lavazemTubingCross html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOut' %}">MILL OUT EXTENSION</a>
                            <!-- file lavazemMillOut html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOutExtension' %}">MILL OUT EXTENSION</a>
                            <!-- file lavazemMillOutExtension html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemTopNoGo' %}">TOP NO GO LANDING NIPPLE</a>
                            <!-- file lavazemTopNoGo html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemBottomNoGo' %}">Bottom NO GO LANDING NIPPLE</a>
                            <!-- file lavazemBottomNoGo html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:lavazemPerforated' %}">PERFORATED POP JOINT</a>
                            <!-- file lavazemPerforated html -->
                          </li>
                        </ul>
                      </li>
                      <li><a class="dropdown-item text-end" href="{% url 'blog:daronchahi' %}">رشته های تکمیلی درون چاهی</a>
                        <!-- file p-2 -->
                        <ul class="submenu dropdown-menu">
                         <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                            <!-- file productAnchor html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                            <!-- file product productLockMandrel -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                            <!-- file productPacker html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                            <!-- file productSafetyValve html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                            <!-- file productSSD html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                            <!-- file productTravel html -->
                          </li>
                        </ul>
                      </li>
                     </ul>
                   </li>
                   <li>
                    <a class="dropdown-item" href="{% url 'blog:hafari' %}">سرویس های حفاری</a>
                      <ul class="submenu dropdown-menu">
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productHanalyse' %}">ارائه خدمات فنی مهندسی انالیز و شبیه سازی تعمیر چاه</a>
                          <!-- file productHanalyse html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:prodcutHfoam' %}">تزریق ترکیبی افزایه کف و گاز نیتروژن</a>
                          <!-- file prodcutHfoam html  -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productHnitrogeangenerator' %}">تولید و تزریق نیتروژن به وسیله  مولد سیار</a>
                          <!-- file productHnitrogeangenerator html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:prodcutHmot' %}">ارائه خدمات فنی فراورش سیار نفت</a>
                          <!-- file prodcutHmot html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productHctu' %}">خدمات فنی لوله مغزی سیار</a>
                          <!-- file productHctu html -->
                        </li>
                      </ul>
                  </li>
                   <li><a class="dropdown-item" href="#">تجهیزات حفاری</a></li>
                   <li><a class="dropdown-item" href="#">دکل های مخابراتی</a></li>
                   <li><a class="dropdown-item" href="#">سرویس های مخابراتی</a></li>
                 </ul>
               </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="#">تحقیق و توسعه</a>
      
                </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="{% url 'blog:customer' %}">مشتریان</a>
                  <!-- file customer html -->
                </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="{% url 'blog:email' %}">ارتباط با ما</a>
                  <!-- backend file -->
                </li>
              </ul>
            </div>
            <div class="col col-lg-0 col-md-0 col-sm-0 logo-disapear"  id="demico-logo">
              <img src="{% static 'images/navbar/logo.png' %}" class="logo-demico" />
            </div>
          </nav>
          <div class="col col-lg-3"></div>
        </div>
      </div>
      <div class="col col-xs-0 col col-lg-2 col-md-0 col-sm-0 logo-container-navbar p-0" id="logo-main">
        <img src="{% static 'images/navbar/logo.png' %}" class="logo-main-navbar" />
      </div>
    </div>
  
    <!-- navigation on scroll -->
    <div class="row nav-special" dir="rtl">
          <nav class="navbar navbar-expand-lg navbar-dark menu col-lg-9 col-md-10 centering-content ">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse col col-lg-12 col-md-12 col-sm-12 navbar-collapse justify-content-start  centering-content" id="navbarNav">
              <ul class="navbar-nav ul-custom" dir="rtl">
                <li class="nav-item">
                  <a class="nav-link service-box active" aria-current="page" href="{% url 'blog:main' %}">خانه</a>
                  <!-- file  main html -->
                </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="{% url 'blog:aboutus' %}">درباره ما</a>
                  <!-- file aboutus html -->
                </li>
                <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                  <a class="nav-link service-box nav-with-sub" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-bs-auto-close="outside">
                    مدیریت
                    <i class="fas fa-sort-down"></i>
                  </a>
                  <ul class="dropdown-menu text-end"  
                    data-bs-auto-close="outside">
                    <li data-bs-auto-close="outside">
                      <a class="dropdown-item"  id="navbarDropdowns" href="{% url 'blog:organizationconstruction' %}">
                      ساختار سازمانی
                      <!-- file orhanizationconstruction html -->
                    </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">مدیر عامل</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">هیئت مدیره</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:strategyandgoals' %}">استراتژی و هدف</a>
                      <!-- file strategy&goals html -->
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:policyguidline' %}">خطی مشی</a>
                      <!-- file policyguidline html  -->
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:process' %}">معماری فرایندها </a>
                      <!-- file process html -->
                    </li>
                  </ul>
                </li>
               <li class="nav-item dropdown dropdown-custom-main">
                 <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                   گواهینامه ها و استاندارد ها
                  <i class="fas fa-sort-down"></i>
                 </a>
                 <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
                   <li>
                     <a class="dropdown-item" href="{% url 'blog:licenseiso' %}">گواهینامه های مدیریتی و سیستم</a>
                     <!-- file licenseiso html -->
                    </li>
                   <li>
                     <a class="dropdown-item" href="{% url 'blog:licenseentebagh' %}">گواهینامه های انطباق محصول</a>
                     <!-- file licenseentebagh html -->
                    </li>
                   <li>
                     <a class="dropdown-item" href="{% url 'blog:licensetaeidie' %}">تاییدیه های محصولات</a>
                     <!-- flie licensetaeidie html -->
                    </li>
                    <li>
                     <a class="dropdown-item" href="{% url 'blog:licesnsesaier' %}">سایر</a>
                     <!-- flie licesnsesaier html -->
                    </li>
                 </ul>
               </li>
               <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                 <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false" data-bs-auto-close="outside">
                   محصولات و خدمات
                  <i class="fas fa-sort-down"></i>
                 </a>
                 <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown" data-bs-auto-close="outside">
                   <li  data-bs-auto-close="outside">
                     <a class="dropdown-item"
                      href="{% url 'blog:p-2product' %}"
                      role="button"
                      data-bs-auto- close="outside"
                      id="navbarDropdowns">
                     محصولات و خدمات رشته های تکمیلی و درون چاهی
                    </a>
                    <!-- file daronchahi html -->
                      <ul class="dropdown-menu  text-end dropdown-custom-smalldevice" aria-labelledby="navbarDropdownsub"
                        id="undermanagment">
                        <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            surface controlled sub surface safety valve
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            packers
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            anchor tubing seal
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            memory gauge
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            sliding side door
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            expansion joint (travel joint)
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            lock mandrel
                          </a>
                          <a class="dropdown-item text-end" role="button"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                            side pocket mandrel
                          </a>
                           <ul class="submenu dropdown-menu">
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                               <!-- file productAnchor html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                               <!-- file product productLockMandrel -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                               <!-- file productPacker html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                               <!-- file productSafetyValve html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                                <!-- file productSSD html -->
                              </li>
                             <li>
                               <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                                <!-- file productTravel html -->
                              </li>
                           </ul>
                        </li>
                      </ul>
                     <ul class="submenu dropdown-menu">
                      <li><a class="dropdown-item text-end" href="#">surface controlled sub surface safety valve</a></li>
                      <li><a class="dropdown-item text-end" href="#">packers</a></li>
                      <li><a class="dropdown-item text-end" href="#">anchor tubing seal</a>
                        <ul class="submenu dropdown-menu">
                         <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                            <!-- file productAnchor html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                            <!-- file product productLockMandrel -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                            <!-- file productPacker html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                            <!-- file productSafetyValve html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                            <!-- file productSSD html -->
                          </li>
                          <li>
                            <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                            <!-- file productTravel html -->
                          </li>
                        </ul>
                      </li>
                        <li><a class="dropdown-item text-end" href="#">memory gauge</a></li>
                        <li><a class="dropdown-item text-end" href="#">sliding side door</a></li>
                        <li><a class="dropdown-item text-end" href="#">expansion joint (travel joint)</a></li>
                        <li><a class="dropdown-item text-end" href="#">lock mandrel</a></li>
                        <li><a class="dropdown-item text-end" href="#">landing nipple</a></li>
                        <li><a class="dropdown-item text-end" href="#">side pocket mandrel</a></li>
                     </ul>
                   </li>
                   <li>
                    <a class="dropdown-item" href="{% url 'blog:productHanalyse' %}">سرویس های حفاری</a>
                      <ul class="submenu dropdown-menu">
                        <li>
                          <a class="dropdown-item text-end" href="#">ارائه خدمات فنی مهندسی انالیز و شبیه سازی تعمیر چاه</a>
                          <!-- file productHanalyse html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:prodcutHfoam' %}">تزریق ترکیبی افزایه کف و گاز نیتروژن</a>
                          <!-- file prodcutHfoam html  -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productHnitrogeangenerator' %}">تولید و تزریق نیتروژن به وسیله  مولد سیار</a>
                          <!-- file productHnitrogeangenerator html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:prodcutHmot' %}">ارائه خدمات فنی فراورش سیار نفت</a>
                          <!-- file prodcutHmot html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productHctu' %}">خدمات فنی لوله مغزی سیار</a>
                          <!-- file productHctu html -->
                        </li>
                      </ul>
                  </li>
                   <li><a class="dropdown-item" href="#">تجهیزات حفاری</a></li>
                   <li><a class="dropdown-item" href="#">دکل های مخابراتی</a></li>
                   <li><a class="dropdown-item" href="#">سرویس های مخابراتی</a></li>
                 </ul>
               </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="#">تحقیق و توسعه</a>
      
                </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="{% url 'blog:customer' %}">مشتریان</a>
                  <!-- file customer html -->
                </li>
                <li class="nav-item">
                  <a class="nav-link service-box" href="{% url 'blog:email' %}">ارتباط با ما</a>
                  <!-- backend file -->
                </li>
              </ul>
            </div>
            <div class="col col-lg-0 col-md-0 col-sm-0 logo-disapear"  id="demico-logo">
              <img src="{% static 'images/navbar/logo.png' %}" class="logo-demico" />
            </div>
          </nav>
          <div class="col col-lg-3"></div>
    </div>
  </div>

  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi">

  <!-- ///////////second product lock manderal\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

    <div class="container product-custom-info">
    <div class="row">
      <h3 class="byekanfont">
        lock mandrel
      </h3>
    </div>
    <div class="row">
      <p class="byekanfont--description">
      وظیفه این قطعه نگه داشتن شیر ایمنی درون پستانک (LANDING NIPPLE) است این مجموعه از طرف TOP SUB، به شیر ایمنی متصل
      می شود. و کل این مجموعه درون پستانک شیر ایمنی قرار می گیرد. در ساخت این محصول از نشت بند های الاستومری استفاده می
      شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان داخلی و خارجی تامین می کند که همین موضوع باعث عمر بالای
      تجهیزات این شرکت شده است.
      شرکت دمیکو موفق به اخذ گرید V4 طراحی بر اساس استاندارد های انجمن نفت و گاز امریکا (API)، توسط نهاد صدور گواهینامه
      های کیفیت انجمن نفت ایران (IPICB) گردیده است

      </p>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
             <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>@fat</td>
             </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
               <tr>
                 <th scope="row">2</th>
                 <td>Jacob</td>
                 <td>Thornton</td>
                 <td>@fat</td>
               </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
        </tbody>
      </table>
    </div>
  <!-- <div class="container"> -->
    <!-- </div> -->
    <div class="splide2">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/horz1.png' %}" /></li>
          <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/vert1.png' %}" /></li>
          <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/vert2.png' %}"/></li>
          <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/vert3.png' %}"/></li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



<footer class="text-center text-lg-start bg-demsecondary text-muted footer">
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-end" dir="rtl" data-aos="fade-right">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 text-end">
            تماس با ما
          </h6>
          <p class="text-center" dir="rtl">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
            بلکه روزنامه
            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-end" dir="rtl" data-aos="fade-left">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" dir="rtl">
            اطلاعات تماس
          </h6>
          <p>تهران؛ شیان، خیابان شیان 5، پلاک5</p>
          <p>
            کدپستی: 1678684581
          </p>
          <p>تلفن: 22950707-22950777</p>
          <p>نمابر: 22939321</p>
          <p>
            پست الکترونیکی: info@demico.ir
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center  p-4" style="background-color: rgba(0, 0, 0, 0.05); color: white;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">demico</a>
  </div>
  <!-- Copyright -->
</footer>

   
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
     integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
   </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
     integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
   </script>
   <script src="{% static 'js/scrolling.js' %}"></script>
   <script src="{% static 'js/main.js' %}"></script>
   <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   <script>
     AOS.init();
   </script>
   <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
   <script src="{% static 'node_modules/persian-date/dist/persian-date.js' %}" type="text/javascript"></script>
   <script type="text/javascript">
     new persianDate().format(); // "۱۳۹۶-۰۱-۱۱ ۲۳:۳۳:۲۷ ب ظ" (when i run in my console)  
     let datecontainer = document.getElementById('date');
     console.log('datecontainer: ', datecontainer);
     datecontainer.innerHTML = new persianDate().format();
   </script>
   <!-- <script>
    document.addEventListener( 'DOMContentLoaded', function () {
      new Splide( '.splide' ).mount();
    } );
    </script> -->
    <script>
    document.addEventListener( 'DOMContentLoaded', function () {
      new Splide( '.splide2' ).mount();
    } );
    </script>
</body>
</html>