{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
محصولات و خدمات رشته های تکمیلی و درون چاهی
{% endblock %}


{% block content%}
  
  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi">
  <div class="container" dir="rtl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Section Title -->
        <div class="section-title" data-aos="fade-left">
          <h1>محصولات و خدمات رشته های تکمیلی و درون چاهی</h1>
          <div class="divider"></div>
          <p class="p-tag">
           در چاه های گازی یا مناطق نفتی حاوی مواد خورنده برای جلوگیری از خوردگی و پوسیدگی لوله جداری چاه از طریق لوله
           های مغزی؛ رشته های تکمیلی درون چاهی؛ استخراج انجام می گیرد چرا که در صورت پوسیده شدن و خوردگی ،این لوله ها
           قابل تعویض است در صورتی که اگر لوله جداری تولید دچار خوردگی و پوسیدگی شد به دلیل سیمان شدن پشت آن قادر به
           تعویض آن نیستیم و در نتیجه عملیات تعمیری پر هزینه را به دنبال خواهد داشت؛
          </p>
        </div>
      </div>
    </div>
  </div>

<section id="portfolio" class="portfolio">
  <div class="row">
    <a class="col-lg-3 col-md-6" href="{% url 'blog:productAnchor' %}">
      <!-- file prodcutAnchor html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/anchor/horz1.png' %}" class="img-portfolio" alt="product 1" title="po1"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>anchor</h4>
            <p>محصولات رشته درون چاهی</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:productLockMandrel' %}">
      <!-- file productLockMandrel html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/lockmandrel/horz1.png' %}" class="img-portfolio" alt="product 2" title="po2"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>lockmandrel</h4>
            <p>محصولات رشته درون چاهی</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:productPacker' %}" >
      <!-- file productPacker html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/packer/horz1.png' %}" class="img-portfolio" alt="product 3" title="po3"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>packer</h4>
            <p>محصولات رشته درون چاهی</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:productSafetyValve' %}">
      <!-- file productSafetyValve html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/safetyvalve/horz1.png' %}" class="img-portfolio" alt="product 4" title="po4"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>safetyvalve</h4>
            <p>محصولات رشته درون چاهی</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:productSSD' %}">
      <!-- file productSSD htlm -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/ssd/horz1rotated.png' %}" class="img-portfolio" alt="product 5" title="po5"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>SSD</h4>
            <p>محصولات رشته درون چاهی</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:productTravel' %}">
      <!-- file productTravel html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/travel/horz1rotated.png' %}" class="img-portfolio" alt="product 6" title="po6"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>travel joint</h4>
            <p>محصولات رشته درون چاهی</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}