<html lang="en">
{% load static %}

{% load change %} 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>صفحه اصلی</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Markazi+Text:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'vendors/css/glightbox.min.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="{% static 'images/navbar/logo.png' %}" />
<style>
  * {
    font-family: 'BYekan', Sans-Serif;
  }
</style>

</head>
<body class="body-custom">
   
<!-- /////////////////////////////new header and navigation\\\\\\\\\\\\\\\\\\\\\\ -->
<div id="header" class=" header m-0 p-0">
  <div class="row row-first-custom m-0">
    <div class="col col-lg-1 col-sm-12 col-md-1 justify-content-center p-0 m-0">
      <div class="row"> 
        <div class="parcham-container">
          <img src="{% static 'images/navbar/parcham.png' %}" class="parcham" />
        </div>
        <div class="byekanfont--description">
          <p class="byekanfont--description2 text-white engper">
            FA / EN
          </p>
        </div>
      </div>
    </div>
    <div class="col col-lg-9 col-sm-12 col-md-10 justify-content-center p-0 m-0"  dir="rtl">
      <div class="row mx-1 text-light ">
          <div class="row justify-content-center p-0 m-4">
            <div class="col col-lg-8 byekanfont justify-content-center centering-content">
            شرکت طراحی مهندسی و توسعه ساخت ایمن ایرانیان (دمیکو)
            </div>
            <div class="row col-lg-4 byekanfont justify-content-center">
              <span class="byekanfont--description2 row justify-content-start mt-2" id="date">
              </span>
            </div>
          </div>
      </div>
      <div class="row" dir="rtl">
        <nav class="navbar navbar-expand-lg navbar-dark menu col-lg-9 col-md-10  ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse col col-lg-12 col-md-12 col-sm-12 navbar-collapse justify-content-start " id="navbarNav">
            <ul class="navbar-nav ul-custom" dir="rtl">
              <li class="nav-item">
                <a class="nav-link service-box active" aria-current="page" href="{% url 'blog:main' %}">خانه</a>
                <!-- file  main html -->
              </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="{% url 'blog:aboutus' %}">درباره ما</a>
                <!-- file aboutus html -->
              </li>
              <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                <a class="nav-link service-box nav-with-sub" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" data-bs-auto-close="outside">
                  مدیریت
                  <i class="fas fa-sort-down"></i>
                </a>
                <ul class="dropdown-menu text-end"  
                  data-bs-auto-close="outside">
                  <li data-bs-auto-close="outside">
                    <a class="dropdown-item"  id="navbarDropdowns" href="{% url 'blog:organizationconstruction' %}">
                    ساختار سازمانی
                    <!-- file orhanizationconstruction html -->
                  </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">مدیر عامل</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">هیئت مدیره</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'blog:strategyandgoals' %}">استراتژی و هدف</a>
                    <!-- file strategy&goals html -->
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'blog:policyguidline' %}">خطی مشی</a>
                    <!-- file policyguidline html  -->
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'blog:process' %}">معماری فرایندها</a>
                    <!-- file process html -->
                  </li>
                </ul>
              </li>
             <li class="nav-item dropdown dropdown-custom-main">
               <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                 گواهینامه ها و استاندارد ها
                <i class="fas fa-sort-down"></i>
               </a>
               <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
                 <li>
                   <a class="dropdown-item" href="{% url 'blog:licenseiso' %}">گواهینامه های مدیریتی و سیستم</a>
                   <!-- file licenseiso html -->
                  </li>
                 <li>
                   <a class="dropdown-item" href="{% url 'blog:licenseentebagh' %}">گواهینامه های انطباق محصول</a>
                   <!-- file licenseentebagh html -->
                  </li>
                 <li>
                   <a class="dropdown-item" href="{% url 'blog:licensetaeidie' %}">تاییدیه های محصولات</a>
                   <!-- flie licensetaeidie html -->
                  </li>
                  <li>
                   <a class="dropdown-item" href="{% url 'blog:licesnsesaier' %}">سایر</a>
                   <!-- flie licesnsesaier html -->
                  </li>
               </ul>
             </li>
             <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
               <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false" data-bs-auto-close="outside">
                 محصولات و خدمات
                <i class="fas fa-sort-down"></i>
               </a>
               <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown" data-bs-auto-close="outside">
                 <li  data-bs-auto-close="outside">
                   <a class="dropdown-item"
                    href="{% url 'blog:p-2product' %}"
                    role="button"
                    id="navbarDropdowns">
                   محصولات و خدمات رشته های تکمیلی و درون چاهی
                  </a>
                  <!-- file p-2product html -->
                    <ul class="dropdown-menu  text-end dropdown-custom-smalldevice" aria-labelledby="navbarDropdownsub"
                      id="undermanagment">
                      <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          ارائه خدمات رانش و تعمیرات
                        </a>
                      </li>
                      <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">                      
                        <a class="dropdown-item text-end" role="button" href="{% url 'blog:lavazemyadaki' %}"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          لوازم یدکی رشته های تکمیلی درون چاهی
                        </a>
                                               <ul class="submenu dropdown-menu">
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedSwedge' %}">FLUTED SWEDGE</a>
                          <!-- file lavazemflutedswedge html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedCasing' %}">FLUTED CASING SUB</a>
                          <!-- file lavazemFlutedCasing html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlowCouplin' %}">Flow Coupling</a>
                          <!-- file lavazemFlowCouplin html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemTubingCross' %}">TUBING CROSS OVER</a>
                          <!-- file lavazemTubingCross html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOut' %}">MILL OUT EXTENSION</a>
                          <!-- file lavazemMillOut html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOutExtension' %}">MILL OUT EXTENSION</a>
                          <!-- file lavazemMillOutExtension html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemTopNoGo' %}">TOP NO GO LANDING NIPPLE</a>
                          <!-- file lavazemTopNoGo html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemBottomNoGo' %}">Bottom NO GO LANDING NIPPLE</a>
                          <!-- file lavazemBottomNoGo html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemPerforated' %}">PERFORATED POP JOINT</a>
                          <!-- file lavazemPerforated html -->
                        </li>
                      </ul>
                      </li>
                        <a class="dropdown-item text-end" role="button"
                          href="{% url 'blog:daronchahi' %}"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          رشته های تکمیلی درون چاهی
                        </a>
                         <ul class="submenu dropdown-menu">
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                             <!-- file productAnchor html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                             <!-- file product productLockMandrel -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                             <!-- file productPacker html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                             <!-- file productSafetyValve html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                              <!-- file productSSD html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                              <!-- file productTravel html -->
                            </li>
                         </ul>
                      </li>
                    </ul>
                   <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item text-end" href="#">ارائه خدمات رانش و تعمیرات</a></li>
                    <li><a class="dropdown-item text-end" href="{% url 'blog:lavazemyadaki' %}">لوازم یدکی رشته های تکمیلی درون چاهی</a>
                      <ul class="submenu dropdown-menu">
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedSwedge'%}">FLUTED SWEDGE</a>
                          <!-- file lavazemflutedswedge html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlutedCasing' %}">FLUTED CASING SUB</a>
                          <!-- file lavazemFlutedCasing html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemFlowCouplin' %}">FLOW COUPLING</a>
                          <!-- file lavazemFlowCouplin html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemTubingCross' %}">TUBING CROSS OVER</a>
                          <!-- file lavazemTubingCross html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOut' %}">MILL OUT EXTENSION</a>
                          <!-- file lavazemMillOut html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemMillOutExtension' %}">MILL OUT EXTENSION</a>
                          <!-- file lavazemMillOutExtension html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemTopNoGo' %}">TOP NO GO LANDING NIPPLE</a>
                          <!-- file lavazemTopNoGo html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemBottomNoGo' %}">Bottom NO GO LANDING NIPPLE</a>
                          <!-- file lavazemBottomNoGo html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:lavazemPerforated' %}">PERFORATED POP JOINT</a>
                          <!-- file lavazemPerforated html -->
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item text-end" href="{% url 'blog:daronchahi' %}">رشته های تکمیلی درون چاهی</a>
                      <!-- file p-2 -->
                      <ul class="submenu dropdown-menu">
                       <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                          <!-- file productAnchor html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                          <!-- file product productLockMandrel -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                          <!-- file productPacker html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                          <!-- file productSafetyValve html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                          <!-- file productSSD html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                          <!-- file productTravel html -->
                        </li>
                      </ul>
                    </li>
                   </ul>
                 </li>
                 <li>
                  <a class="dropdown-item" href="{% url 'blog:hafari' %}">سرویس های حفاری</a>
                    <ul class="submenu dropdown-menu">
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:productHanalyse' %}">ارائه خدمات فنی مهندسی انالیز و شبیه سازی تعمیر چاه</a>
                        <!-- file productHanalyse html -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:prodcutHfoam' %}">تزریق ترکیبی افزایه کف و گاز نیتروژن</a>
                        <!-- file prodcutHfoam html  -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:productHnitrogeangenerator' %}">تولید و تزریق نیتروژن به وسیله  مولد سیار</a>
                        <!-- file productHnitrogeangenerator html -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:prodcutHmot' %}">ارائه خدمات فنی فراورش سیار نفت</a>
                        <!-- file prodcutHmot html -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:productHctu' %}">خدمات فنی لوله مغزی سیار</a>
                        <!-- file productHctu html -->
                      </li>
                    </ul>
                </li>
                 <li><a class="dropdown-item" href="#">تجهیزات حفاری</a></li>
                 <li><a class="dropdown-item" href="#">دکل های مخابراتی</a></li>
                 <li><a class="dropdown-item" href="#">سرویس های مخابراتی</a></li>
               </ul>
             </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="#">تحقیق و توسعه</a>
    
              </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="{% url 'blog:customer' %}">مشتریان</a>
                <!-- file customer html -->
              </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="{% url 'blog:email' %}">ارتباط با ما</a>
                <!-- backend file -->
              </li>
            </ul>
          </div>
          <div class="col col-lg-0 col-md-0 col-sm-0 logo-disapear"  id="demico-logo">
            <img src="{% static 'images/navbar/logo.png' %}" class="logo-demico" />
          </div>
        </nav>
        <div class="col col-lg-3"></div>
      </div>
    </div>
    <div class="col col-xs-0 col-sm-0 col-lg-2 col-md-1 col-sm-0 logo-container-navbar p-0" id="logo-main">
      <img src="{% static 'images/navbar/logo.png' %}" class="logo-main-navbar" />
    </div>
  </div>

  <!-- navigation on scroll -->
  <div class="row nav-special" dir="rtl">
        <nav class="navbar navbar-expand-lg navbar-dark menu col-lg-9 col-md-10 centering-content ">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse col col-lg-12 col-md-12 col-sm-12 navbar-collapse justify-content-start  centering-content" id="navbarNav">
            <ul class="navbar-nav ul-custom" dir="rtl">
              <li class="nav-item">
                <a class="nav-link service-box active" aria-current="page" href="{% url 'blog:main' %}">خانه</a>
                <!-- file  main html -->
              </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="{% url 'blog:aboutus' %}">درباره ما</a>
                <!-- file aboutus html -->
              </li>
              <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                <a class="nav-link service-box nav-with-sub" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" data-bs-auto-close="outside">
                  مدیریت
                  <i class="fas fa-sort-down"></i>
                </a>
                <ul class="dropdown-menu text-end"  
                  data-bs-auto-close="outside">
                  <li data-bs-auto-close="outside">
                    <a class="dropdown-item"  id="navbarDropdowns" href="{% url 'blog:organizationconstruction' %}">
                    ساختار سازمانی
                    <!-- file orhanizationconstruction html -->
                  </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">مدیر عامل</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">هیئت مدیره</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'blog:strategyandgoals' %}">استراتژی و هدف</a>
                    <!-- file strategy&goals html -->
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'blog:policyguidline' %}">خطی مشی</a>
                    <!-- file policyguidline html  -->
                  </li>
                  <li>
                    <a class="dropdown-item" href="{% url 'blog:process' %}">معماری فرایندها </a>
                    <!-- file process html -->
                  </li>
                </ul>
              </li>
             <li class="nav-item dropdown dropdown-custom-main">
               <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                 گواهینامه ها و استاندارد ها
                <i class="fas fa-sort-down"></i>
               </a>
               <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
                 <li>
                   <a class="dropdown-item" href="{% url 'blog:licenseiso' %}">گواهینامه های مدیریتی و سیستم</a>
                   <!-- file licenseiso html -->
                  </li>
                 <li>
                   <a class="dropdown-item" href="{% url 'blog:licenseentebagh' %}">گواهینامه های انطباق محصول</a>
                   <!-- file licenseentebagh html -->
                  </li>
                 <li>
                   <a class="dropdown-item" href="{% url 'blog:licensetaeidie' %}">تاییدیه های محصولات</a>
                   <!-- flie licensetaeidie html -->
                  </li>
                  <li>
                   <a class="dropdown-item" href="{% url 'blog:licesnsesaier' %}">سایر</a>
                   <!-- flie licesnsesaier html -->
                  </li>
               </ul>
             </li>
             <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
               <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false" data-bs-auto-close="outside">
                 محصولات و خدمات
                <i class="fas fa-sort-down"></i>
               </a>
               <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown" data-bs-auto-close="outside">
                 <li  data-bs-auto-close="outside">
                   <a class="dropdown-item"
                    href="{% url 'blog:p-2product' %}"
                    role="button"
                    id="navbarDropdowns">
                   محصولات و خدمات رشته های تکمیلی و درون چاهی
                  </a>
                  <!-- file daronchahi html -->
                    <ul class="dropdown-menu  text-end dropdown-custom-smalldevice" aria-labelledby="navbarDropdownsub"
                      id="undermanagment">
                      <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          surface controlled sub surface safety valve
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          packers
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          anchor tubing seal
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          memory gauge
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          sliding side door
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          expansion joint (travel joint)
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          lock mandrel
                        </a>
                        <a class="dropdown-item text-end" role="button"
                          data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                          side pocket mandrel
                        </a>
                         <ul class="submenu dropdown-menu">
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                             <!-- file productAnchor html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                             <!-- file product productLockMandrel -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                             <!-- file productPacker html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                             <!-- file productSafetyValve html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                              <!-- file productSSD html -->
                            </li>
                           <li>
                             <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                              <!-- file productTravel html -->
                            </li>
                         </ul>
                      </li>
                    </ul>
                   <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item text-end" href="#">surface controlled sub surface safety valve</a></li>
                    <li><a class="dropdown-item text-end" href="#">packers</a></li>
                    <li><a class="dropdown-item text-end" href="#">anchor tubing seal</a>
                      <ul class="submenu dropdown-menu">
                       <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                          <!-- file productAnchor html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                          <!-- file product productLockMandrel -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                          <!-- file productPacker html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                          <!-- file productSafetyValve html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                          <!-- file productSSD html -->
                        </li>
                        <li>
                          <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                          <!-- file productTravel html -->
                        </li>
                      </ul>
                    </li>
                      <li><a class="dropdown-item text-end" href="#">memory gauge</a></li>
                      <li><a class="dropdown-item text-end" href="#">sliding side door</a></li>
                      <li><a class="dropdown-item text-end" href="#">expansion joint (travel joint)</a></li>
                      <li><a class="dropdown-item text-end" href="#">lock mandrel</a></li>
                      <li><a class="dropdown-item text-end" href="#">landing nipple</a></li>
                      <li><a class="dropdown-item text-end" href="#">side pocket mandrel</a></li>
                   </ul>
                 </li>
                 <li>
                  <a class="dropdown-item" href="{% url 'blog:productHanalyse' %}">سرویس های حفاری</a>
                    <ul class="submenu dropdown-menu">
                      <li>
                        <a class="dropdown-item text-end" href="#">ارائه خدمات فنی مهندسی انالیز و شبیه سازی تعمیر چاه</a>
                        <!-- file productHanalyse html -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:prodcutHfoam' %}">تزریق ترکیبی افزایه کف و گاز نیتروژن</a>
                        <!-- file prodcutHfoam html  -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:productHnitrogeangenerator' %}">تولید و تزریق نیتروژن به وسیله  مولد سیار</a>
                        <!-- file productHnitrogeangenerator html -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:prodcutHmot' %}">ارائه خدمات فنی فراورش سیار نفت</a>
                        <!-- file prodcutHmot html -->
                      </li>
                      <li>
                        <a class="dropdown-item text-end" href="{% url 'blog:productHctu' %}">خدمات فنی لوله مغزی سیار</a>
                        <!-- file productHctu html -->
                      </li>
                    </ul>
                </li>
                 <li><a class="dropdown-item" href="#">تجهیزات حفاری</a></li>
                 <li><a class="dropdown-item" href="#">دکل های مخابراتی</a></li>
                 <li><a class="dropdown-item" href="#">سرویس های مخابراتی</a></li>
               </ul>
             </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="#">تحقیق و توسعه</a>
    
              </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="{% url 'blog:customer' %}">مشتریان</a>
                <!-- file customer html -->
              </li>
              <li class="nav-item">
                <a class="nav-link service-box" href="{% url 'blog:email' %}">ارتباط با ما</a>
                <!-- backend file -->
              </li>
            </ul>
          </div>
          <div class="col col-lg-0 col-md-0 col-sm-0 logo-disapear"  id="demico-logo">
            <img src="{% static 'images/navbar/logo.png' %}" class="logo-demico" />
          </div>
        </nav>
        <div class="col col-lg-3"></div>
  </div>
</div>







<div class='container mb-4 form-group' style="margin-top : 15rem; margin-right: 5rem;" dir="rtl">
    {% block content %}
    <form method="POST">
       {% csrf_token %}
       <div class="row">
         <div class="col">
           <p dir="rtl" align="right">
           نام و نام خانوادگی*
           {{ form.full_name }}
           <!-- {% if form.full_name.errors %}
             <p style="color: rgba(255, 0, 0, 0.678)">{{ form.full_name.errors }}</p>
           {% endif %} -->
           </p>
         </div>
         <div class="col">
           <p dir="rtl" align="right">
               نام سازمان
               {{ form.organization_name }}
           </p>
         </div>
       </div>
       <div class="row">
          <div class="col">
            <p dir="rtl" align="right">
                مسئولیت سازمانی 
                {{ form.responsibility }}
            </p>
          </div>
          <div class="col">
            <p dir="rtl" align="right">
                شماره تلفن ثابت
                {{ form.phone_number }}
            </p>
          </div>
       </div>
       <div class="row">
          <div class="col">
            <p dir="rtl" align="right">
                شماره همراه*
                {{ form.mobile_phone_number }}
            </p>
          </div>
          <div class="col">
            <p dir="rtl" align="right">
                ایمیل*
              {{ form.email }}
            </p>
          </div>
        </div>
                <p dir="rtl" align="right">
                    توضیحات*
                    {{ form.description }}
                </p>
    <button class="btn btn-secondary">ثبت نظر</button>
</form>
    {% endblock %}



</body>
</html>

