<footer class="text-center text-lg-start bg-demsecondary text-muted footer">
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-end" dir="rtl" data-aos="fade-right">
          <!-- Content -->
          <img src="{% static 'images/navbar/logo.png' %}" />
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-end" dir="rtl" data-aos="fade-left">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" dir="rtl">
            اطلاعات تماس
          </h6>
          <p>تهران؛ شیان، خیابان شیان 5، پلاک5</p>
          <p>
            کدپستی: 1678684581
          </p>
          <p>تلفن: 22950707-22950777</p>
          <p>نمابر: 22939321</p>
          <p>
            پست الکترونیکی: info@demico.ir
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center  p-4" style="background-color: rgba(0, 0, 0, 0.05); color: white;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">demico</a>
  </div>
  <!-- Copyright -->
</footer>
