{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
حفاری
{% endblock %}


{% block content%}


  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi">
  <div class="container" dir="rtl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Section Title -->
        <div class="section-title" data-aos="fade-left">
          <h1>حفاری</h1>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

<section id="portfolio" class="portfolio">
  <div class="row">
    <a class="col-lg-4 col-md-6" href="{% url 'blog:productHanalyse' %}">
      <!-- file productHanalyse html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/mainpage/JOB/jobone.jpg' %}" class="img-portfolio" alt="product 1" title="po1" />
        <div class="portfolio-info">
          <div class="caption">
            <h4>ارائه خدمات فنی مهندسی انالیز و شبیه سازی تعمیر چاه</h4>
            <p>حفاری</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-4 col-md-6" href="{% url 'blog:prodcutHfoam' %}">
      <!-- file productHfoam html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/hafari/dastgahtazrigh/product.jpg' %}" class="img-portfolio"
          alt="product 2" title="po2" />
        <div class="portfolio-info">
          <div class="caption">
            <h4>تزریق ترکیبی افزایه از کف و گاز نیتروژن</h4>
            <p>حفاری</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-4 col-md-6" href="{% url 'blog:productHnitrogeangenerator' %}">
      <!-- file productHnitrogengenerator html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/hafari/tolidnitro/prodcut.jpg' %}" class="img-portfolio" alt="product 3"
          title="po3" />
        <div class="portfolio-info">
          <div class="caption">
            <h4>تولید و تززیق نیتروژن  به وسیله مولد سیار</h4>
            <p>حفاری</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-4 col-md-6" href="{% url 'blog:prodcutHmot' %}">
      <!-- file productHmot html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/hafari/khadamatfanisayar/prodcut.jpg' %}" class="img-portfolio" alt="product 4" title="po4"/>
        <div class="portfolio-info">
          <div class="caption">
            <h4>خدمات فنی ارائه خدمات فنی فراورش سیار نفت</h4>
            <p>حفاری</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-4 col-md-6" href="{% url 'blog:productHctu' %}">
      <!-- file prodcutHctu html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/products/hafari/khadamatfanilole/product.png' %}" class="img-portfolio"
          alt="product 5" title="po5" />
        <div class="portfolio-info">
          <div class="caption">
            <h4>خدمات فنی لوله مغزی سیار</h4>
            <p>حفاری</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</section>
</div>
</section>


{% endblock %}