{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
لوازم یدکی رشته های تکمیلی درون چاهی
{% endblock %}


{% block content%}


  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  <section id="products-daronchahi" class="products-daronchahi">
    <div class="container" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-left">
            <h1>لوازم یدکی رشته های تکمیلی درون چاهی</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>

    <section id="portfolio" class="portfolio">
      <div class="row">
          <!-- file  html -->
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemFlutedSwedge' %}">
            <!-- file lavazemFlutedSwedge html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/flutedSwedge.jpg' %}" class="img-portfolio" alt="product 1"
                title="po1" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>FLUTED SWEDGE</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemFlutedCasing' %}">
            <!-- file lavazemFlutedCasing html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/flutedCasingSub.jpg' %}" class="img-portfolio" alt="product 2"
                title="po2" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>FLUTED CASING SUB</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemFlowCouplin' %}">
            <!-- file lavazemFlowCouplin html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/flowCouplin.jpg' %}" class="img-portfolio" alt="product 3"
                title="po3" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>FLOW COUPLING</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemTubingCross' %}">
            <!-- file lavazemTubingCross html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/tubingCrossOver.jpg' %}" class="img-portfolio" alt="product 4"
                title="po4" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>TUBING CROSS OVER</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemMillOut' %}">
            <!-- file lavazemMillOut htlm -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/millout.jpg' %}" class="img-portfolio" alt="product 5"
                title="po5" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>MILL OUT EXTENSION</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemMillOutExtension' %}">
            <!-- file lavazemMillOutExtension html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/milloutextension.jpg' %}" class="img-portfolio" alt="product 6"
                title="po6" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>MILL OUT EXTENSION</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemTopNoGo' %}">
            <!-- file lavazemTopNoGo html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/topNoGo.jpg' %}" class="img-portfolio" alt="product 6"
                title="po6" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>TOP NO GO LANDING NIPPLE</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemBottomNoGo' %}">
            <!-- file lavazemBottomNoGo html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/bottomNoGo.jpg' %}" class="img-portfolio" alt="product 6"
                title="po6" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>Bottom NO GO LANDING NIPPLE</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
          <a class="col-lg-3 col-md-6" href="{% url 'blog:lavazemPerforated' %}">
            <!-- file lavazemPerforated html -->
            <div class="portfolio-box3 shadow">
              <img src="{% static 'images/lavazemyadaki/perporatedPop.jpg' %}" class="img-portfolio" alt="product 6"
                title="po6" />
              <div class="portfolio-info">
                <div class="caption">
                  <h4>PERFORATED POP JOINT</h4>
                  <p>لوازم یدکی رشته های تکمیلی درون چاهی</p>
                </div>
              </div>
            </div>
          </a>
      </div>
    </section>
    </div>
  </section>


  <!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}