
{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
لوازم یدکی رشته های تکمیلی درون چاهی
{% endblock %}


{% block content%}





  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
<div class="container product-custom-info">
  <div class="row">
    <h3 class="byekanfont mb-4">
      Flow Couplin
    </h3>
  </div>
  <div class="row">
    
  </div>

  <!-- <div class="splide mt-4 mb-4">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide text-center"><img src="./images/products/packer/horz1.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/horz2.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/horz3.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/vert1.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/vert2.png" /></li>
      </ul>
    </div>
  </div> -->

  <div class="container ">
    <div class="row">
      <div class="col portfolio-box3 shadow">
        <img src="{% static 'images/lavazemyadaki/flowCouplin.jpg'%}" />
      </div>
    </div>
  </div>


  <div class="row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">THREAD CONNECTION</th>
            <th scope="col">Length</th>
            <th scope="col">Material</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” x 7” x 5.5”</td>
            <td>7” , 29-32PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” x 7” x 5.5”</td>
            <td>7” , 29-32PPF NEW VAM B/P</td>
            <td>240” (20Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” x 7” x 4.5”</td>
            <td>7” , 29-32PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>9-5/8” x 7” x 4.5”</td>
            <td>7” , 29-32PPF NEW VAM B/P</td>
            <td>240” (20Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>9-5/8” x 7” x 3.5”</td>
            <td>7” , 29-32PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>9-5/8” x 7” x 3.5”</td>
            <td> 7” , 29-32PPF NEW VAM B/P</td>
            <td> 240” (20Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>7” x 5” x 4.5”</td>
            <td>5” , 18PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">8</th>
            <td>7” x 5” x 4.5”</td>
            <td>5” , 18PPF NEW VAM B/P</td>
            <td>240” (20Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">9</th>
            <td>7” x 4.5” x 3.5”</td>
            <td>4.5” , 13.5PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">10</th>
            <td>7” x 4.5” x 3.5”</td>
            <td>4.5” , 13.5PPF NEW VAM B/P</td>
            <td>240” (20Ft)</td>
            <td>4140 or 13Cr</td>
            <td>5000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">11</th>
            <td>9-5/8” x 7” x 4.5”</td>
            <td>7” , 32PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>10000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">12</th>
            <td>7” x 5” x 4.5”</td>
            <td>5” , 18PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>10000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">13</th>
            <td>7” x 5” x 4.5”</td>
            <td>5” , 20.3PPF NEW VAM B/P</td>
            <td>72” (6Ft)</td>
            <td>4140 or 13Cr</td>
            <td>10000 Psi</td>
          </tr> 
          <tr>
            <th scope="row">14</th>
            <td>7” x 4.5” x 3.5”</td>
            <td>4.5” , 13.5PPF NEW VAM B/P</td>
            <td>240” (20Ft)</td>
            <td>4140 or 13Cr</td>
            <td>10000 Psi</td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
  
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
{% endblock %}