{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
لوازم یدکی رشته های تکمیلی درون چاهی
{% endblock %}


{% block content%}




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
<div class="container product-custom-info">
  <div class="row">
    <h3 class="byekanfont mb-4">
      PERFORATED POP JOINT
    </h3>
  </div>
  <div class="row">
    
  </div>

  <!-- <div class="splide mt-4 mb-4">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide text-center"><img src="./images/products/packer/horz1.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/horz2.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/horz3.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/vert1.png" /></li>
        <li class="splide__slide text-center"><img src="./images/products/packer/vert2.png" /></li>
      </ul>
    </div>
  </div> -->

<div class="container">
  <div class="row">
    <div class="col portfolio-box3 shadow">
      <img src="{% static 'images/lavazemyadaki/perporatedPop.jpg'%}" />
    </div>
  </div>
</div>


  <div class="row">
     <table class="table mb-4">
       <thead>
         <tr>
           <th scope="col">ردیف</th>
           <th scope="col">SIZE</th>
           <th scope="col">Casing Spec</th>
           <th scope="col">THREAD CONNECTION</th>
           <th scope="col">Material</th>
           <th scope="col">Working Pressure</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th scope="row">1</th>
           <td>9-5/8” x 7” x 4.5”</td>
           <td>7” , 32-35PPF</td>
           <td>4-1/2”,15.1PPF,NEWVAM B/P</td>
           <td>AF</td>
           <td>4140 or 13Cr</td>
           <td>10000 Psi</td>
         </tr>
       </tbody>
     </table>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
  
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



{% endblock %}