{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
گواهینامه های مدیریتی
{% endblock %}


{% block content %}


  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi">
  <div class="container" dir="rtl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Section Title -->
        <div class="section-title" data-aos="fade-left">
          <h1>گواهینامه های مدیریتی</h1>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

<section id="portfolio" class="portfolio">
  <div class="row">
      <a class="col-lg-3 col-md-6" href="{% url 'blog:liciso1' %}">
        <!-- file liciso1 html -->
        <div class="portfolio-box shadow">
          <img src="{% static 'images/license/iso/1.PNG' %}" class="img-portfolio" alt="product 1" title="po1"/>
          <div class="portfolio-info">
            <div class="caption">
              <p>iso 29001 , 2010 نظام مدیریت کیفیت محصولات و خدمات </p>
            </div>
          </div>
        </div>
      </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:liciso2' %}">
      <!-- file liciso2 html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/license/iso/2.PNG' %}" class="img-portfolio" alt="product 2" title="po2"/>
        <div class="portfolio-info">
          <div class="caption">
            <p>iso 45001,2018 نظام مدیریت ایمنی و بهداشت </p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:liciso3' %}">
      <!-- file liciso3 html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/license/iso/3.PNG' %}" class="img-portfolio" alt="product 2" title="po2"/>
        <div class="portfolio-info">
          <div class="caption">
            <p>ISO 9001 , 2015 نظام مدیریت کیفیت </p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{ url 'blog:liciso4' }">
      <!-- file liciso4 html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/license/iso/4.PNG' %}" class="img-portfolio" alt="product 2" title="po2"/>
        <div class="portfolio-info">
          <div class="caption">
            <p>ISO 50001 , 2018 نظام مدیریت انرژی </p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:liciso5' %}">
      <!-- file liciso 5 html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/license/iso/5.PNG' %}" class="img-portfolio" alt="product 2" title="po2"/>
        <div class="portfolio-info">
          <div class="caption">
            <p>ISO 31000 , 2018 نظام مدیریت یسک</p>
          </div>
        </div>
      </div>
    </a>
    <a class="col-lg-3 col-md-6" href="{% url 'blog:liciso6' %}">
      <!-- file liciso 6 html -->
      <div class="portfolio-box shadow">
        <img src="{% static 'images/license/iso/6.PNG' %}" class="img-portfolio" alt="product 2" title="po2"/>
        <div class="portfolio-info">
          <div class="caption">
            <p>ISO 14001 , 2015 نظام مدیریت محیط زیست </p>
          </div>
        </div>
      </div>
    </a>
</section>
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}