{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
گواهینامه های تاییدیه محصولات
{% endblock %}


{% block content %}
  


  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  <section id="products-daronchahi" class="products-daronchahi">
    <div class="container" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-left">
            <h1>گواهینامه های تاییدیه محصولات</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>

    <section id="portfolio" class="portfolio">
      <div class="row">
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/1_hbnn.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/1.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a>
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/2_ohxg.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/2.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a> 
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/3_eior.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/3.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a>
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/4_snh4.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/4.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a> 
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/5_ypu4.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/5.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a> 
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/6_hlb.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/6.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a> 
        <a class="col-lg-3 col-md-12" href="https://s4.uupload.ir/files/7_01y.jpeg">
          <div >
            <div class="portfolio-box shadow">
              <img src="{% static 'images/license/taeidie/7.jpeg' %}" class="img-portfolio" alt="product 1" title="po1"/>
              <div class="portfolio-info">
                <div class="caption">
                  گواهینامه تاییدیه محصول
                  <!-- file license html -->
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </section>
    </div>
  </section>


  <!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}