{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
گواهینامه
{% endblock %}


{% block content%}
  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="orgconst" class="orgconst">
  <div class="container">
    <img src="{% static 'images/license/lic1.png' %}" class="orgmang-custom-managment" />
  </div> 
 <div class="container">
    <img src="{% static 'images/license/lic2.png' %}" class="orgmang-custom-managment" />
  </div> 

</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}