{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
گواهینامه های انطباق
{% endblock %}


{% block content %}




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi">
  <div class="container" dir="rtl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Section Title -->
        <div class="section-title" data-aos="fade-left">
          <h1> گواهینامه های انطباق محصول</h1>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

<section id="portfolio" class="portfolio">
  <div class="row justify-content-center">
    
    <a class="col-lg-3 col-md-12" href="{% url 'blog:licens' %}">
    <div >
      <div class="portfolio-box shadow">
        <img src="{% static 'images/license/lic2.png' %}" class="img-portfolio" alt="product 1" title="po1"/>
        <div class="portfolio-info">
          <div class="caption">
            گواهینامه انطباق
            <!-- file license html -->
          </div>
        </div>
      </div>
    </div>
    </a>
  
</section>
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}