{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
سایر گواهینامه ها
{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  <section id="products-daronchahi" class="products-daronchahi">
    <div class="container" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-left">
            <h1>سایر گواهینامه ها</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>

    <section id="portfolio" class="portfolio">
      <div class="row">

      </div>
    </section>
    </div>
  </section>


  <!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
{% endblock %}