{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
گواهینامه
{% endblock %}


{% block content %}




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="orgconst" class="orgconst" >
  <div class="container text-center fluid w-100">
    <div class="row">
      <div class="col">
        <img src="{% static 'images/license/iso/1.PNG' %}" class="orgmang-custom-managment" />
      </div>
    </div>
  </div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}