{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
گواهینامه
{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="orgconst" class="orgconst">
  <div class="container text-center">
    <img src="{% static 'images/license/iso/6.PNG' %}" class="orgmang-custom-managment" />
  </div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
{% endblock %}