{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
صفحه اصلی
{% endblock %}


{% block content%}




<!-- ///////////////////////////////////////new end header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<div class="container">
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide carousel-container" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/mainslider/1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/mainslider/2.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/mainslider/3.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/mainslider/4.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/mainslider/5.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////INTRO TO DEMICO COMPANY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

<div class="container" dir="rtl">
  <div class="row">
    <div class="col-sm-12">
      <!-- Section Title -->
      <div class="section-title mb-2" data-aos="fade-right">
        <h1 >معرفی شرکت</h1>
        <div class="divider"></div>
        <p alig="justify" class=" p-tag">
        شرکت دمیکو از سال 1380 توسط شرکت ایران خودرو تاسیس گردید. در سال 1392 با ورود سهامداران
        جدید، کلیه سهام شرکت دمیکو از ایران خودرو خریداری شد و فعالیت شرکت عمدتا به ساخت و تولید تجهیزات مورد نیاز صنایع نفت و
        مخابرات و ارائه خدمات در این حوزه‌ها معطوف گردید.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container" dir="rtl">
  <div class="row">
    <div class="col-sm-12 justify-content-center">
      <!-- Section Title -->
      <div class="section-title mb-2" data-aos="fade-left">
        <h1 >حوزه کاری شرکت</h1>
        <div class="divider"></div>
        <p class=" p-tag" align = "justify" >
          انجام کلیه فعالیت‌های مرتبط با صنایع نفت و انرژی و همچنین تولید انواع محصولات مورد نیاز صنایع نفتی و نیروگاهی، ایجاد و
          راه اندازی سایت‌های مخابراتی و تولید انواع محصولات مورد نیاز صنایع مخابرات و فناوری اطلاعات، طراحی، مهندسی، ساخت، تولید
          و مونتاژ انواع مجموعه‌ها، ماشین آلات، تجهیزات و قطعات صنعتی، انجام کلیه فعالیت‌های عمرانی و راه سازی در ارتباط با مقاصد
          شرکت، صادرات و واردات انواع مواد اولیه، محصولات و قطعات مجاز بازرگانی. تصدی به معاملات بازرگانی، پژوهشی، اداری و خدماتی
          به هر نحو که به امور شرکت مربوط باشد و همچنین ارائه خدمات مشاوره ای و مشارکت در طرح‌های سرمایه گذاری تولیدی و غیر تولیدی
          از دیگر فعالیت‌های شرکت دمیکو می‌باشد.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- ////////////////////////////////////////////////NEWS  IN MAIN PAGE SECTION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<div class="row" dir="rtl">
    <div class="col-sm-12">
      <!-- Section Title -->
      <div class="section-title mb-0" data-aos="fade-left">
        <h1>اخبار</h1>
        <div class="divider"></div>
      </div>
    </div>
</div>

<!-- ///////////////////////////////////////NEWS STARTED\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="testimonials" class="testimonials fluid p-0 m-0" data-aos="fade-left">
  <!-- START THE CAROUSEL -->
  
  <div id="carouselExampleCaptions" class="container carousel slide text-center " data-bs-ride="carousel" dir="rtl">
    
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <div class = "container m-2 p-2"> 
          
          <div class="row mb-2 justify-content-center" >
            <div class=" col col-lg-3 col-md-6 col-sm-6" id="news-container">
              <div >
                <h3 class="byekanfont"></h3>{{ news.0.title }}</h3>
                <p class="fw-light"></p>
              </div>
              <div class="testimonials__card">
                <p class="lh-lg byekanfont--description">
                  <i class="fas fa_quote-left"></i>
                  {{ news.0.body }}
                </p>
              </div>
            </div>
            <div class="col col-lg-3 col-md-6 col-sm-6" >
              {% if not news.0.thumbnail %}
                <img src="{% static 'images/index.png' %}" class="custom-image-news" />
              {% else %}
                <img src="{{news.0.thumbnail.url}}" class="custom-image-news" />
              {% endif %}
            </div>
          </div>
        </div>
      </div> 
      {% with False as flag %}
      {% for item in news %}
      {% if flag %}
      <div class="carousel-item">
        <div class = "container m-2 p-2"> 
          <div class="row mb-4">
            <div class="col" id="news-container">
              <div>
                <h3 class="byekanfont">{{ item.title }}</h3>
                <p class="fw-light"></p>
              </div>
              <div class="testimonials__card">
                <p class="lh-lg byekanfont--description">
                  <i class="fas fa_quote-left"></i>
                  {{ item.body }}
                </p>
              </div>
            </div>
            <div class="col" >
              {% if not item.thumbnail %}
                <img src="{% static 'images/index.png' %}" class="custom-image-news" />
              {% else %}
                <img src="{{item.thumbnail.url}}" class="custom-image-news" />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
        {% update_variable True as flag %}
      {% endif %}
      {% endfor %}
      {% endwith %}
    </div>
    
    <div class="text-center">
      <button class="btn custom-button-main-news btn-primary fas fa-long-arrow-alt-left" type="button"
        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <i class="fas fa-arrow-right"></i>
      </button>
      <button class="btn custom-button-main-news btn-primary fas fa-long-arrow-alt-right" type="button"
      data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
  </div>
  
</section>



<!-- /////////////////////////////////////////////////////FOOTER SECTION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}


