<html lang="en">
{% load static %}
{% load change %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>صفحه اصلی</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Markazi+Text:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <link href="stylesheet" href="assets/vendors/css/glightbox.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="{% static 'images/navbar/logo.png' %}" />
<style>
  * {
    font-family: 'BYekan', Sans-Serif;
  }
</style>

</head>
<body class="body-custom">

<!-- /////////////////////////////new header and navigation\\\\\\\\\\\\\\\\\\\\\\ -->
<div id="header" class=" header m-0">
  <div class="row row-first-custom m-0">
    <div id="iranflag" class = "col col-lg-2 col-md-0 col-sm-0 mt-4">
      <!-- flag -->
      <!-- <img class="logo" src="./images/navbar/iranflag.png" /> -->
    </div>
    <div class="col col-lg-8 col-sm-12 col-md-12 justify-content-center"  dir="rtl">
      <div class="row mx-1 text-light">
          <div class="row mt-4 justify-content-center">
            <div class="row byekanfont justify-content-center ">
            شرکت طراحی مهندسی و توسعه ساخت ایمن ایرانیان (دمیکو)
            </div>
            <div class="byekanfont--description row justify-content-center mt-4" id="date"> 
              1400/5/13
            </div>
            <div class="byekanfont--description2 row justify-content-center mt-4">
              FA / EN
            </div>
          </div>
          {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
        </ul>
{% endif %}
          <!-- <div class="row mt-4">  -->
          <!-- </div> -->
      </div>
    </div>
    <div class="col col-xs-0 col col-lg-2 col-md-0 col-sm-0 logo-container-navbar" id="logo-main">
      <img src="{% static 'images/navbar/logo.png' %}" class="logo-main-navbar" />
    </div>
  </div>
  <div class="row" dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-dark menu col-lg-12 col-md-10" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse col col-lg-12 col-md-12 col-sm-12 navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav ul-custom" dir="rtl">
          <li class="nav-item">
            <a class="nav-link service-box active" aria-current="page" href="{% url 'blog:main' %}">خانه</a>
            <!-- file  main html -->
          </li>
          <li class="nav-item">
            <a class="nav-link service-box" href="{% url 'blog:aboutus' %}">درباره ما</a>
            <!-- file aboutus html -->
          </li>
          <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
            <a class="nav-link service-box nav-with-sub" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" data-bs-auto-close="outside">
              مدیریت
              <i class="fas fa-sort-down"></i>
            </a>
            <ul class="dropdown-menu text-end"  
              data-bs-auto-close="outside">
              <li data-bs-auto-close="outside">
                <a class="dropdown-item"  href="{% url 'blog:organizationconstruction' %}" id="navbarDropdowns">
                ساختار سازمانی
                <!-- file orhanizationconstruction html -->
              </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">مدیر عامل</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">هیئت مدیره</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'blog:strategyandgoals' %}">استراتژی و هدف</a>
                <!-- file strategy&goals html -->
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'blog:policyguidline' %}">خطی مشی</a>
                <!-- file policyguidline html  -->
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'blog:process' %}">فرایندها معماری</a>
                <!-- file process html -->
              </li>
            </ul>
          </li>
         <li class="nav-item dropdown dropdown-custom-main">
           <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
             گواهینامه ها و استاندارد ها
            <i class="fas fa-sort-down"></i>
           </a>
           <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown">
             <li>
               <a class="dropdown-item" href="{% url 'blog:licenseiso' %}">گواهینامه های مدیریتی و سیستم</a>
               <!-- file licenseiso html -->
              </li>
             <li>
               <a class="dropdown-item" href="{% url 'blog:licenseentebagh' %}">گواهینامه های انطباق محصول</a>
               <!-- file licenseentebagh html -->
              </li>
             <li>
               <a class="dropdown-item" href="{% url 'blog:licensetaeidie' %}">تاییدیه های محصولات</a>
               <!-- flie licensetaeidie html -->
              </li>
              <li>
               <a class="dropdown-item" href="{% url 'blog:licesnsesaier' %}">سایر</a>
               <!-- flie licesnsesaier html -->
              </li>
           </ul>
         </li>
         <li class="nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
           <a class="nav-link service-box " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false" data-bs-auto-close="outside">
             محصولات و خدمات
            <i class="fas fa-sort-down"></i>
           </a>
           <ul class="dropdown-menu text-end" aria-labelledby="navbarDropdown" data-bs-auto-close="outside">
             <li  data-bs-auto-close="outside">
               <a class="dropdown-item"
                role="button"
                data-bs-auto-close="outside"
                id="navbarDropdowns"
                href="{% url 'blog:daronchahi' %}">
               محصولات و خدمات رشته های تکمیلی و درون چاهی
              </a>
              <!-- file daronchahi html -->
                <ul class="dropdown-menu  text-end dropdown-custom-smalldevice" aria-labelledby="navbarDropdownsub"
                  id="undermanagment">
                  <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      surface controlled sub surface safety valve
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      packers
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      anchor tubing seal
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      memory gauge
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      sliding side door
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      expansion joint (travel joint)
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      lock mandrel
                    </a>
                    <a class="dropdown-item text-end" role="button"
                      data-bs-toggle="dropdown" data-bs-auto-close="outside" id="navbarDropdowns">
                      side pocket mandrel
                    </a>
                     <ul class="submenu dropdown-menu">
                       <li>
                         <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                        </li>
                       <li>
                         <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                        </li>
                       <li>
                         <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                        </li>
                       <li>
                         <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                         {% if messages %}
                         <ul class="messages">
                         {% for message in messages %}
                         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                             {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                             {{ message }}
                         </li>
                         {% endfor %}
                         </ul>
                   {% endif %}                       
                        </li>
                       <li>
                         <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                        </li>
                       <li>
                         <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                        </li>
                     </ul>
                  </li>
                </ul>
               <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item text-end" href="#">surface controlled sub surface safety valve</a></li>
                <li><a class="dropdown-item text-end" href="#">packers</a></li>
                <li><a class="dropdown-item text-end" href="#">anchor tubing seal</a>
                  <ul class="submenu dropdown-menu">
                   <li>
                      <a class="dropdown-item text-end" href="{% url 'blog:productAnchor' %}">anchor</a>
                      <!-- file productAnchor html -->
                    </li>
                    <li>
                      <a class="dropdown-item text-end" href="{% url 'blog:productLockMandrel' %}">lock mandrel</a>
                      <!-- file product productLockMandrel -->
                    </li>
                    <li>
                      <a class="dropdown-item text-end" href="{% url 'blog:productPacker' %}">packer</a>
                      <!-- file productPacker html -->
                    </li>
                    <li>
                      <a class="dropdown-item text-end" href="{% url 'blog:productSafetyValve' %}">safety valve</a>
                      <!-- file productSafetyValve html -->
                    </li>
                    <li>
                      <a class="dropdown-item text-end" href="{% url 'blog:productSSD' %}">ssd</a>
                      <!-- file productSSD html -->
                    </li>
                    <li>
                      <a class="dropdown-item text-end" href="{% url 'blog:productTravel' %}">travel</a>
                      <!-- file productTravel html -->
                    </li>
                  </ul>
                </li>
                  <li><a class="dropdown-item text-end" href="#">memory gauge</a></li>
                  <li><a class="dropdown-item text-end" href="#">sliding side door</a></li>
                  <li><a class="dropdown-item text-end" href="#">expansion joint (travel joint)</a></li>
                  <li><a class="dropdown-item text-end" href="#">lock mandrel</a></li>
                  <li><a class="dropdown-item text-end" href="#">landing nipple</a></li>
                  <li><a class="dropdown-item text-end" href="#">side pocket mandrel</a></li>
               </ul>
             </li>
             <li>
              <a class="dropdown-item" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                id="navbarDropdowns">سرویس های حفاری</a>
                <ul class="submenu dropdown-menu dropdown-custom-smalldevice" aria-labelledby="navbarDropdownsub"
                  id="undermanagment">
                  <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                    <a class="dropdown-item text-end" href="{% url 'blog:productHanalyse' %}">ارائه خدمات فنی مهندسی انالیز و شبیه سازی تعمیر چاه</a>
                    <!-- file productHanalyse html -->
                  </li>
                  <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                    <a class="dropdown-item text-end" href="{% url 'blog:prodcutHfoam' %}">تزریق ترکیبی افزایه کف و گاز نیتروژن</a>
                    <!-- file prodcutHfoam html  -->
                  </li>
                  <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                    <a class="dropdown-item text-end" href="{% url 'blog:productHnitrogeangenerator' %}">تولید و تزریق نیتروژن به وسیله  مولد سیار</a>
                    <!-- file productHnitrogeangenerator html -->
                  </li>
                  <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                    <a class="dropdown-item text-end" href="{% url 'blog:prodcutHmot' %}">ارائه خدمات فنی فراورش سیار نفت</a>
                    <!-- file prodcutHmot html -->
                  </li>
                  <li class=" nav-item dropdown dropdown-custom-main" data-bs-auto-close="outside">
                    <a class="dropdown-item text-end" href="{% url 'blog:productHctu' %}">خدمات فنی لوله مغزی سیار</a>
                    <!-- file productHctu html -->
                  </li>
                </ul>
            </li>
             <li><a class="dropdown-item" href="#">تجهیزات حفاری</a></li>
             <li><a class="dropdown-item" href="#">دکل های مخابراتی</a></li>
             <li><a class="dropdown-item" href="#">سرویس های مخابراتی</a></li>
           </ul>
         </li>
          <li class="nav-item">
            <a class="nav-link service-box" href="#">تحقیق و توسعه</a>

          </li>
          <li class="nav-item">
            <a class="nav-link service-box" href="{% url 'blog:customer' %}">مشتریان</a>
            <!-- file customer html -->
          </li>
          <li class="nav-item">
            <a class="nav-link service-box" href="{% url 'blog:email' %}">ارتباط با ما</a>
            <!-- backend file -->
          </li>
        </ul>
      </div>
      <div class="col col-lg-0 col-md-0 col-sm-0 logo-disapear"  id="demico-logo">
        <img src="{% static 'images/navbar/logo.png' %}" class="logo-demico" />
      </div>
    </nav>
    <!-- <div class="col col-lg-2"></div> -->
  </div>
</div>




<!-- ///////////////////////////////////////new end header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<div class="container">
  <div class="row">
    <div id="carouselExampleControls" class="carousel slide carousel-container" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'images/mainpage/JOB/jobtwo.JPG' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/mainpage/JOB/jobone.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'images/mainpage/JOB/jobthree.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!-- ////////////////////////////////////INTRO TO DEMICO COMPANY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<div class="container" dir="rtl">
  <div class="row">
    <div class="col-sm-12">
      <!-- Section Title -->
      <div class="section-title" data-aos="fade-right">
        <h1 >معرفی شرکت</h1>
        <div class="divider"></div>
        <p class="text-end">
        شرکت دمیکو از سال 1380 توسط شرکت ایران خودرو با نام صنایع مفتولی ایران خودرو تاسیس گردید. در سال 1392 با ورود سهامداران
        جدید، کلیه سهام شرکت دمیکو از ایران خودرو خریداری شد و فعالیت شرکت عمدتا به ساخت و تولید تجهیزات مورد نیاز صنایع نفت و
        مخابرات و ارائه خدمات در این حوزه‌ها معطوف گردید.
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container" dir="rtl">
  <div class="row">
    <div class="col-sm-12">
      <!-- Section Title -->
      <div class="section-title" data-aos="fade-left">
        <h1 >حوزه کاری شرکت</h1>
        <div class="divider"></div>
        <p class="text-end">
          انجام کلیه فعالیت‌های مرتبط با صنایع نفت و انرژی و همچنین تولید انواع محصولات مورد نیاز صنایع نفتی و نیروگاهی، ایجاد و
          راه اندازی سایت‌های مخابراتی و تولید انواع محصولات مورد نیاز صنایع مخابرات و فناوری اطلاعات، طراحی، مهندسی، ساخت، تولید
          و مونتاژ انواع مجموعه‌ها، ماشین آلات، تجهیزات و قطعات صنعتی، انجام کلیه فعالیت‌های عمرانی و راه سازی در ارتباط با مقاصد
          شرکت، صادرات و واردات انواع مواد اولیه، محصولات و قطعات مجاز بازرگانی. تصدی به معاملات بازرگانی، پژوهشی، اداری و خدماتی
          به هر نحو که به امور شرکت مربوط باشد و همچنین ارائه خدمات مشاوره ای و مشارکت در طرح‌های سرمایه گذاری تولیدی و غیر تولیدی
          از دیگر فعالیت‌های شرکت دمیکو می‌باشد.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- ////////////////////////////////////////////////NEWS  IN MAIN PAGE SECTION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<div class="container" dir="rtl">
  <div class="row">
    <div class="col-sm-12">
      <!-- Section Title -->
      <div class="section-title" data-aos="fade-left">
        <h1>اخبار</h1>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>

<!-- ///////////////////////////////////////NEWS STARTED\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="testimonials" class="testimonials fluid" data-aos="fade-left">
  <!-- START THE CAROUSEL -->
  
  <div id="carouselExampleCaptions" class="container carousel slide text-center" data-bs-ride="carousel" dir="rtl">
    
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <div class = "container m-4 p-4"> 
          
          <div class="row mb-4">
            <div class=" col col-lg-6 col-md-6 col-sm-6" id="news-container">
              <div >
                <h3 class="byekanfont"></h3>{{ news.0.title }}</h3>
                <p class="fw-light">شرکت دمیکو</p>
              </div>
              <div class="testimonials__card">
                <p class="lh-lg byekanfont--description">
                  <i class="fas fa_quote-left"></i>
                  {{ news.0.body }}
                </p>
              </div>
            </div>
            <div class="col col-lg-6 col-md-6 col-sm-6" >
              {% if not item.thumbnail %}
                <img src="{% static 'images/customer/ericsson.jpg' %}" class="custom-image-news" />
              {% else %}
                <img src="{{ news.0.thumbnail }}" class="custom-image-news" />
              {% endif %}
            </div>
          </div>
        </div>
      </div> 
      {% with False as flag %}
      {% for item in news %}
      {% if flag %}
      <div class="carousel-item">
        <div class = "container m-4 p-4"> 
          <div class="row mb-4">
            <div class="col" id="news-container">
              <div>
                <h3 class="byekanfont">{{ item.title }}</h3>
                <p class="fw-light">شرکت دمیکو</p>
              </div>
              <div class="testimonials__card">
                <p class="lh-lg byekanfont--description">
                  <i class="fas fa_quote-left"></i>
                  {{ item.body }}
                </p>
              </div>
            </div>
            <div class="col" >
              {% if not item.thumbnail %}
                <img src="{% static 'images/customer/ericsson.jpg' %}" class="custom-image-news" />
              {% else %}
                <img src="{{ item.thumbnail.url }}" class="custom-image-news" />
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
        {% update_variable True as flag %}
      {% endif %}
      {% endfor %}
      {% endwith %}
    </div>
    
    <div class="text-center">
      <button class="btn custom-button-main-news btn-primary fas fa-long-arrow-alt-left" type="button"
        data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <i class="fas fa-arrow-right"></i>
      </button>
      <button class="btn custom-button-main-news btn-primary fas fa-long-arrow-alt-right" type="button"
      data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
  </div>
  
</section>

<!-- /////////////////////////////////////////////////////FOOTER SECTION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

<!-- Footer -->
<footer class="text-center text-lg-start bg-demsecondary text-muted footer">
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="" >
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-end" dir="rtl" data-aos="fade-right" >
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 text-end">
            تماس با ما
          </h6>
          <p class="text-center" dir="rtl">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه
            و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
          </p>
        </div>

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-end" dir="rtl" data-aos="fade-left"> 
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4"  dir="rtl">
            اطلاعات تماس
          </h6>
          <p>تهران؛ شیان، خیابان شیان 5، پلاک5</p>
          <p>
            کدپستی: 1678684581
          </p>
          <p>تلفن: 22950707-22950777</p>
          <p>نمابر: 22939321</p>
          <p>
            پست الکترونیکی: info@demico.ir
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center  p-4" style="background-color: rgba(0, 0, 0, 0.05); color: white;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">demico</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


<!-- //////////////////////////finished footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script> -->
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="{% static 'js/scrolling.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script src="{% static 'node_modules/persian-date/dist/persian-date.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    new persianDate().format(); // "۱۳۹۶-۰۱-۱۱ ۲۳:۳۳:۲۷ ب ظ" (when i run in my console)  
    let datecontainer = document.getElementById('date');
    console.log('datecontainer: ',datecontainer);
    datecontainer.innerHTML = new persianDate().format();
  </script>
</body>
</html>


