{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
سازمان
{% endblock %}


{% block content %}





  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="orgconst" class="orgconst">
  <div class="container">
    <img src="{% static 'images/managment/orgmanag.png' %}" class="orgmang-custom-managment" />
  </div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}