{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
محصولات و خدمات رشته های تکمیلی و درون چاهی
{% endblock %}


{% block content %}





<!-- ///////////////////////////////////////new end header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi">
  <div class="container" dir="rtl">
    <div class="row">
      <div class="col-sm-12">
        <!-- Section Title -->
        <div class="section-title" data-aos="fade-left">
          <h1>محصولات و خدمات رشته های تکمیلی و درون چاهی</h1>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

  <section id="portfolio" class="portfolio">
    <div class="row">
      <a class="col-lg-4 col-md-6" href="{% url 'blog:daronchahi' %}">
        <!-- file daronchahi html -->
        <div class="portfolio-box2 shadow">
          <!-- <img src="./images/products/anchor/horz1.png" class="img-portfolio" alt="product 1" title="po1" /> -->
          <div class="portfolio-info">
            <div class="caption">
              <h4>رشته های تکمیلی درون چاهی</h4>
              <!-- <p>محصولات رشته درون چاهی</p> -->
            </div>
          </div>
        </div>
      </a>
      <a class="col-lg-4 col-md-6" href="{% url 'blog:lavazemyadaki' %}">
        <!-- file lavazemyadaki html -->
        <div class="portfolio-box2 shadow">
          <!-- <img src="./images/products/packer/horz1.png" class="img-portfolio" alt="product 3" title="po3" /> -->
          <div class="portfolio-info">
            <div class="caption">
              <h4>لوازم یدکی رشته های تکمیلی درون چاهی</h4>
              <!-- <p>محصولات رشته درون چاهی</p> -->
            </div>
          </div>
        </div>
      </a>
      <a class="col-lg-4 col-md-6">
        <div class="portfolio-box2 shadow">
          <!-- <img src="./images/products/safetyvalve/horz1.png" class="img-portfolio" alt="product 4" title="po4" /> -->
          <div class="portfolio-info">
            <div class="caption">
              <h4>ارائه خدمات رانش و تعمیرات</h4>
              <!-- <p>محصولات رشته درون چاهی</p> -->
            </div>
          </div>
        </div>
      </a>
    </div>
  </section>
  </div>
</section>


<!-- /////////////////////////////////////////////////////FOOTER SECTION\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
{% endblock %}
