
{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
معماری فرایندها
{% endblock %}


{% block content %}
  <title>معماری فرایند ها</title>




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="orgconst" class="orgconst">
  <div class="container">
    <img src="{% static 'images/managment/process.jpg' %}" class="orgmang-custom-managment" />
  </div> 

</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}