{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
دستگاه ارائه خدمات فنی لوله مغزی سیار
{% endblock %}


{% block content %}




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



  
<section id="product" class="product">
    <div class="container mb-0" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-right">
            <h1>دستگاه ارائه خدمات فنی لوله مغزی سیار</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row m-4">
      <div class="col">
        <img src="{% static 'images/products/hafari/khadamatfanilole/product.png' %}" class="image-custom-product" data-aos="fade-left"/>
      </div>
      <div class="col product-second-column" data-aos="fade-right">
        <p class="byekanfont--description text-end">
       دستگاه لوله مغزی سیار را می توان یک دکل حفاری در مقیاس کوچک ولی راندمان بالا در نظر گرفت که با حداقل پرسنل و در
       کمترین زمان و با حداقل هزینه دارای بیشترین کارایی در انجام عملیات ها بر روی چاه های اکتشافی، تعمیری و... می باشد.
        </p>
        <p class="byekanfont--description text-end font-weight-bold">
          دلایل استفاده از تکنولوژی لوله مغزی سیار
       </p>
        <ul class="text-end custom-list-product-hafari">
          <li> قابلیت های بسیار زیاد در انجام عملیات هایی مانند: سیمانکاری، اسیدکاری، سبک کردن ستون چاه، تمیز سازی ستون
            چاه (رفع مانع) و...</li>
          <li> عدم نیاز به تغییر در محوطه چاه </li>
          <li> سرعت بالای جابجایی دستگاه لوله مغزی سیار نسبت به دکل حفاری
          </li>
          <li>  عدم نیاز به کشتن چاه (جلوگیری از آسیب به سازند چاه تولیدی)</li>
          <li> توانایی در انجام حفاری تحت فشار </li>
          <li> سرعت TRIPE بالا بعلت پیوستگی لوله مغزی </li>
          <li> قابلیت ورود به چاه هایی با قطر کم (HOLE SLIM) </li>
          <li> سرعت بالا در نصب و جمع آوری تجهیزات لوله مغزی </li>
          <li> قابلیت انجام مشبک کاری در چاه های افقی </li>
          <li> قابلیت امتزاج با تجهیزات نمودارگیری جهت چاه های افقی</li>
        </ul>
      </div>
    </div>
  </section>


{% endblock %}