{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
ارائه خدمات مهندسی انالیز و شبیه سازی تعمیر چاه
{% endblock %}


{% block content %}
  



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



  
<section id="product" class="product">
    <div class="container mb-0" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-right">
            <h1>ارائه خدمات مهندسی انالیز و شبیه سازی تعمیر چاه</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row m-4">
      <div class="col">
        <img src="{% static 'images/mainpage/JOB/jobone.jpg' %}" class="image-custom-product" data-aos="fade-left"/>
      </div>
      <div class="col product-second-column" data-aos="fade-right">
        <p class="byekanfont--description p-tag" dir="rtl">
          شرکت دمیکو به واسطه دارا بودن تیم مجرب مهندسی و نرم افزارهای آنالیز فرآیندهای تعمیر و احیا چاه، خدمات مطالعات
          بهینه سازی عملیات های تعمیر و احیا را به شرکت های بهره بردار صنعت نفت کشور از جمله شرکت ملی مناطق نفتخیز جنوب
          ارائه می نماید. از جمله فعالیت های موثر در این زمینه می توان به عمليات انگيزش چاه توسط اسيدكارى به منظور
          افزايش توليد يا تزريق پذيرى چاههاى نفت و گاز توليدى و يا متروك شده در مخازن نفت جنوب ايران اشاره کرد كه عمده
          ترين عمليات انگيزش، نوع ماتريكس اسيد می باشد. اين نوع عمليات اسيدكارى جهت بهبود نفوذپذيرى و رسيدن به يك پوستة
          منفى انجام می گيرد. همچنین سایر فعالیت های مرتبط شرکت دمیکو در این زمینه در راستای مطالعات آماری و بهینه سازی
          عملیات های تعمیر و احیا می توان به موارد زیر اشاره کرد:
        </p>
        <ul class="text-end custom-list-product-hafari">
          <li>ارزیابی سازند</li>
          <li> لرزه نگاری</li>
          <li> گزارش چاه های مجاور</li>
          <li> نمودار حفار</li>
          <li> نمودارهای گل</li>
          <li> نمونه های مغزه گیری شده</li>
        </ul>
      </div>
    </div>
  </section>

  
{% endblock %}