{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}

{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
<div class="container product-custom-info">
  <div class="row">
    <h3 class="byekanfont2 mb-4">
      packer
    </h3>
  </div>
  <div class="row">
    <p class="byekanfont--description mb-4 p-tag" dir="rtl">
      پکر (Packer) مجموعه اي است كه در پایین ترین نقطه چاه نصب می¬شود. پس از نصب پکر در نقطه مورد نظر، جریان سیال به
      درون TUBING هدایت می¬شود و تماس آن با جداره داخلی CASING قطع می¬گردد. قطع تماس سیال با جداره داخلی CASING باعث
      محافظت آن در برابر خوردگی ناشی از خواص شیمیایی سیال نفت یا گاز می¬گردد.
      پکر ها به صورت کلی به دو دسته پکر های دائمی (Permanent) و پکرهای قابل بازیابی (Retrievable)تقسیم بندی
      می شودکه شرکت دمیکو با توجه به سابقه طولانی ساخت تجهیزات درون چاهی تکنولوژی تولید هر دو نوع پکر را با استفاده
      از پیشرفته ترین تجهیزات ساخت و تست دارد.
      در ساخت این محصول از نشت بند های الاستومری استفاده می شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان
      داخلی و خارجی تامین می کند که همین موضوع باعث عمر بالای تجهیزات این شرکت شده است.
      شرکت دمیکو موفق به اخذ گرید V3 طراحی بر اساس استاندارد های انجمن نفت و گاز امریکا (API)، توسط نهاد صدور
      گواهینامه های کیفیت انجمن نفت ایران (IPICB) گردیده است.
      این تجهیز در شرکت دمیکو با سایزهای مختلف مطابق جدول زیر تولید می شود.
    </p>
  </div>

  <div class="splide mt-4 mb-4">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide text-center"><img src="{% static 'images/products/packer/horz1.png' %}" /></li>
        <li class="splide__slide text-center"><img src="{% static 'images/products/packer/horz2.png' %}" /></li>
        <li class="splide__slide text-center"><img src="{% static 'images/products/packer/horz3.png' %}" /></li>
        <li class="splide__slide text-center"><img src="{% static 'images/products/packer/vert1.png' %}" /></li>
        <li class="splide__slide text-center"><img src="{% static 'images/products/packer/vert2.png' %}" /></li>
      </ul>
    </div>
  </div>

  <div class="row table_row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">Model</th>
            <th scope="col">CasingSpec</th>
            <th scope="col">UpperSealBore</th>
            <th scope="col">Lower Seal Bore</th>
            <th scope="col">Top thread</th>
            <th scope="col">Bottom thread</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>SAB-3</td>
            <td>9-5/8” 43.5-58.4 PPF</td>
            <td>6.00”</td>
            <td>4.75”</td>
            <td>6-1/2”– OD LH Sq. Thd BOX UP</td>
            <td>7”,29PPF,NEW VAM BOX</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>SABL-3</td>
            <td>7”26-29 PPF</td>
            <td>4.750”</td>
            <td>3.875”</td>
            <td>5-1/8”– OD LH Sq. Thd BOX UP</td>
            <td>5”,18PPF,NEW VAM BOX</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>SAB-3</td>
            <td>7”29-32 PPF</td>
            <td>4.00”</td>
            <td>3.250”</td>
            <td>4-1/2”– OD LH Sq. Thd BOX UP</td>
            <td>4.5”,13.5PPF,NEW VAM BO</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>7” ×5”×4.5”</td>
            <td>SAB-3</td>
            <td>7”29-32 PPF</td>
            <td>4.250”</td>
            <td>3.250”</td>
            <td>4-3/4”– OD LH Sq. Thd BOX UP</td>
            <td>4.5”,13.5PPF,NEW VAM BOX</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>7” ×4.5”×3.5”</td>
            <td>SAB-3</td>
            <td>7”32 PPF</td>
            <td>4.00”</td>
            <td>3.250”</td>
            <td>4-1/2”– OD LH Sq. Thd BOX UP</td>
            <td>4.5”,13.5PPF,NEW VAM BOX</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>SAB-3</td>
            <td>7”29-32 PPF</td>
            <td>4.00”</td>
            <td>3.250”</td>
            <td>4-1/2”– OD LH Sq. Thd BOX UP</td>
            <td>4.5”,15.1PPF,NEW VAM BOX</td>
            <td>10000Psi</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>SAB-3</td>
            <td>7”32-35 PPF</td>
            <td>4.00”</td>
            <td>3.250”</td>
            <td>4-1/2”– OD LH Sq. Thd BOX UP</td>
            <td>4.5”,15.1PPF,NEW VAM BOX</td>
            <td>10000 Psi</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>7” ×4.5”×3.5”</td>
            <td>SAB-3</td>
            <td>7”29-32 PPF</td>
            <td>4.00”</td>
            <td>3.250”</td>
            <td>4-1/2”– OD LH Sq. Thd BOX UP</td>
            <td>4.5”,15.1PPF,NEW VAM BOX</td>
            <td>10000Psi</td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
  
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}