{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}

{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
<div class="container product-custom-info">
  <div class="row">
    <h3 class="byekanfont2 mb-4">
      SSD
    </h3>
  </div>
  <div class="row">
    <p class="byekanfont--description mb-4 p-tag" dir="rtl">
      دریچه کشویی وسیله ای است که ارتباط بین دالیز و رشته تکمیلی را برقرار می¬کند. جایگاه آن معمولا در بالای PACKER است و برای
      جایگزین کردن PACKER FLUID در فضای حلقوی بالای PACKER از آن استفاده می¬شود. معمولا S.S.D در بالای خود پروفایلی جهت نصب
      مسدود کننده دارد. از این وسیله جهت تست رشته تکمیلی در حین راندن استفاده می¬شود. برای باز و بسته کردن S.S.D از SHIFTING
      TOOLS استفاده می¬شود. معمولا این وسیله از یک سر باعث بسته شدن و از سر دیگر S.S.D باعث باز شدن آن می¬گردد.
      . . شرکت دمیکو مفتخر به تولید دریچه کشویی بر اساس استاندارد های طراحی انجمن نفت و گاز امریکا (API) می باشد. لوله کشویی و
      تجهیزات مربوط به آن در شرکت دمیکو بر اساس استاندارد API 19AC طراحی و تولید می شود. در ساخت این محصول از نشت بند های
      الاستومری استفاده می شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان داخلی و خارجی تامین می کند که همین موضوع
      باعث عمر بالای تجهیزات این شرکت شده است.
      شرکت دمیکو موفق به اخذ گرید V4 طراحی بر اساس استاندارد های انجمن نفت و گاز امریکا (API)، توسط نهاد صدور گواهینامه های
      کیفیت انجمن نفت ایران (IPICB) گردیده است.
      این تجهیز در شرکت دمیکو با سایزهای مختلف مطابق جدول زیر تولید می شود.
    </p>
  </div>

 <div class="splide mt-4 mb-4">
   <div class="splide__track">
     <ul class="splide__list">
       <li class="splide__slide text-center"><img src="{% static 'images/products/ssd/horz1rotated.png' %}" /></li>
       <li class="splide__slide text-center"><img src="{% static 'images/products/ssd/horz2rotated.png' %}" /></li>
       <li class="splide__slide text-center"><img src="{% static 'images/products/ssd/vert1rotated.png' %}" /></li>
       <li class="splide__slide text-center"><img src="{% static 'images/products/ssd/vert2rotated.png' %}" /></li>
     </ul>
   </div>
 </div>

  <div class="row table_row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">Max OD</th>
            <th scope="col">Min ID</th>
            <th scope="col">Length</th>
            <th scope="col">Profile Type</th>
            <th scope="col">Casing Spec</th>
            <th scope="col">Thread Connection</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>6.5”</td>
            <td>4.562”</td>
            <td>59.35”</td>
            <td>AF</td>
            <td>9-5/8” , 43.5-58.4 PPF</td>
            <td>5-1/2”–NEWVAM B/P-20PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.5”</td>
            <td>3.688”</td>
            <td>58.35”</td>
            <td>AF</td>
            <td>7” , 29-32 PPF</td>
            <td>4-1/2”–NEWVAM B/P-13.5PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>4.750”</td>
            <td>2.750”</td>
            <td>58.85”</td>
            <td>AF</td>
            <td>7” , 29-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>7” ×5”×4.5”</td>
            <td>4.750”</td>
            <td>2.665”</td>
            <td>58.85</td>
            <td>XN</td>
            <td>7” , 29-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.125”</td>
            <td>3.313”</td>
            <td>60.125”</td>
            <td>AF</td>
            <td>7” , 29-32 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>4.750”</td>
            <td>2.750”</td>
            <td>58.85”</td>
            <td>AF</td>
            <td>7” , 32-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000Psi</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>4.750”</td>
            <td>2.665”</td>
            <td>58.85”</td>
            <td>XN</td>
            <td>7” , 32-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.235”</td>
            <td>3.313”</td>
            <td>60.125”</td>
            <td>AF</td>
            <td>7” , 29-32 PPF</td>
            <td>4-1/2”–NEWVAM B/P-15.1PPF</td>
            <td>10000psi</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.235</td>
            <td>3.313”</td>
            <td>60.125”</td>
            <td>AF</td>
            <td>7” , 32-35 PPF</td>
            <td>4-1/2”–NEWVAM B/P-15.1PPF</td>
            <td>10000psi</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5”</td>
            <td>2.750”</td>
            <td>58.85”</td>
            <td>AF</td>
            <td>7” , 32-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-10.2PPF</td>
            <td>10000psi</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5”</td>
            <td>2.665”</td>
            <td>58.85”</td>
            <td>XN</td>
            <td>7” , 32-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-10.2PPF</td>
            <td>10000psi</td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
 
</div>


</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}