{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}

{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
<div class="container product-custom-info">
  <div class="row">
    <h3 class="byekanfont2 mb-4">
      travel joint
    </h3>
  </div>
  <div class="row">
    <p class="byekanfont--description mb-4 p-tag" dir="rtl">
      لوله كشويي در رشته تكميل به منظور خنثي نمودن پديده انبساط و انقباض در رشته لوله مغزي است كه از قسمت فوقاني توسط
      ANCHOR TUBING SEAL و از قسمت تحتاني توسط پکر در جاي خود از دو سر ثابت ميشود- ساخته شده است. . شرکت دمیکو مفتخر به
      تولید لوله کشویی بر اساس استاندارد های طراحی انجمن نفت و گاز امریکا (API) می باشد. لوله کشویی و تجهیزات مربوط به
      آن در شرکت دمیکو بر اساس استاندارد API 14AC طراحی و تولید می شود. در ساخت این محصول از نشت بند های الاستومری
      استفاده می شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان داخلی و خارجی تامین می کند که همین موضوع باعث
      عمر بالای تجهیزات این شرکت شده است.
      شرکت دمیکو موفق به اخذ گرید V4 طراحی بر اساس استاندارد های انجمن نفت و گاز امریکا (API)، توسط نهاد صدور گواهینامه
      های کیفیت انجمن نفت ایران (IPICB) گردیده است.
      این تجهیز در شرکت دمیکو با سایزهای مختلف مطابق جدول زیر تولید می شود.
    </p>
  </div>

   <div class="splide mt-4 mb-4">
     <div class="splide__track">
       <ul class="splide__list">
         <li class="splide__slide text-center"><img src="{% static 'images/products/travel/horz1rotated.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/travel/vert1rotated.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/travel/vert2rotated.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/travel/vert3rotated.png' %}" /></li>
       </ul>
     </div>
   </div>

  <div class="row table_row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">Max OD</th>
            <th scope="col">Min ID</th>
            <th scope="col">Stroke</th>
            <th scope="col">shearing force</th>
            <th scope="col">Casing Spec</th>
            <th scope="col">Thread Connection</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>7.07”</td>
            <td>4.776”</td>
            <td>10 ,12, 20 Ft</td>
            <td>20000 LB</td>
            <td>9-5/8” , 43-58.4 PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.875”</td>
            <td>3.840</td>
            <td>10 ,12, 20 Ft</td>
            <td>20000 LB</td>
            <td>7” , 29-32 PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.025”</td>
            <td>2.992”</td>
            <td>10 ,12, 20 Ft</td>
            <td>20000 LB</td>
            <td>7” , 29-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>7” ×5”×4.5”</td>
            <td>5.875”</td>
            <td>3.840”</td>
            <td>58.85</td>
            <td>20000 LB</td>
            <td>7” , 29-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.025”</td>
            <td>2.992”</td>
            <td>60.125”</td>
            <td>AF</td>
            <td>7” , 32 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>7.750”</td>
            <td>3.5”</td>
            <td>10 ,12, 20 Ft</td>
            <td>7” , 32 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>5.750”</td>
            <td>3.5”</td>
            <td>10 ,12, 20 Ft</td>
            <td>20000 LB</td>
            <td>7” , 32-35 PPF</td>
            <td>3-1/2”–NEWVAM B/P-9.2PPF</td>
            <td>10000 psi</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.250”</td>
            <td>2.902”</td>
            <td>10 ,12, 20 Ft</td>
            <td>20000 LB</td>
            <td>7” , 29-32 PPF</td>
            <td>3-1/2”–NEWVAM B/P-10.2PPF</td>
            <td>10000psi</td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
 
</div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}