{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
دستگاه مولد تزریق نیتروژن سیار
{% endblock %}


{% block content %}
  

  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



  
<section id="product" class="product">
    <div class="container mb-0" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-right">
            <h1>دستگاه مولد تزریق نیتروژن سیار</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row m-4">
      <div class="col">
        <img src="{% static 'images/products/hafari/tolidnitro/prodcut.jpg' %}" class="image-custom-product" data-aos="fade-left"/>
      </div>
      <div class="col product-second-column" data-aos="fade-right">
        <p class="byekanfont--description p-tag" dir="rtl">
         شرکت دمیکو دارای 2 دستگاه مولد سیار نیتروژن با ظرفیت های تولید 1200 و 900 متر مکعب نیتروژن در ساعت با مشخصات
         ارائه شده در جداول زیر می باشد. هر پکیج کامل دستگاه تولید نیتروژن که جداسازی گازها در آن به روش ممبران صورت می
         پذیرد دارای بخش های کمپرسور های هوا، سیستم آماده سازی هوا جهت ورود به ممبران، سیستم تولید کننده نیتروژن به روش
         جداسازی ممبرانی، سیستم افزایش فشار نیتروژن، سیستم کنترل مرکزی و سایر تجهیزات کمکی می باشد.
        </p>
        <p class="byekanfont--description text-end">
          مشخصات دستگاه تولید نیتروژن فشار بالا MZD-1200/350Q
        </p>
        <table class="table" dir="rtl">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>حداکثر نرخ تولید و تزریق نیتروژن</td>
              <td>1200 Nm3/h</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>خلوص نیتروژن</td>
              <td>99/9% تا 95%</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>حداکثر فشار</td>
              <td> 35 Mpa</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>نیروی محرکه</td>
              <td>Diesel</td>
            </tr>
          </tbody>
        </table>
        <p class="byekanfont--description text-end">
         مشخصات دستگاه تولید نیتروژن فشار بالا MZD-900/350Q
        </p>
        <table class="table" dir="rtl">
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>حداکثر نرخ تولید و تزریق نیتروژن</td>
              <td> 900 Nm3/h</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>خلوص نیتروژن</td>
              <td>99/9% تا 95%</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>حداکثر فشار</td>
              <td> 35 Mpa</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>نیروی محرکه</td>
              <td>Diesel</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}