{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
دستگاه ترکیبی تزریق فوم
{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



  
<section id="product" class="product">
    <div class="container mb-0" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-right">
            <h1>دستگاه ترکیبی تزریق فوم</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row m-4">
      <div class="col">
        <img src="{% static 'images/products/hafari/dastgahtazrigh/product.jpg' %}" class="image-custom-product" data-aos="fade-left"/>
      </div>
      <div class="col product-second-column" data-aos="fade-right">
        <p class="byekanfont--description text-end">
        شرکت دمیکو دارای 2 دستگاه تزریق ترکیبی افزایه کف ساز (Foam) و گاز نیتروژن به وسیله مولد نیتروژن سیار می باشد.
        فوم یکی از پر کاربرد ترین اصلاح کننده های تحریک پذیری در عملیات های برداشت از مخازن می باشد. در زیر به کاربردهای
        مختلف کف در چاه¬های نفت و گاز اشاره شده است:
        </p>
        <ul class="text-end custom-list-product-hafari">
          <li>ازدیاد برداشت</li>
          <li>عملیات انگیزش و اسید کاری چاه ها</li>
          <li>مسدود کردن جریان سیالات ناخواسته به درون چاه</li>
          <li>فراز اوری سیال سنگین در چاه های نفت و گاز</li>
        </ul>
        <p class="byekanfont--description text-end bold">
          مشخصات سیستم تزریق افزایه کف ساز و بخش کنترل
        </p>
        <ul class="text-end custom-list-product-hafari">
          <li>تمام تجهیزات روی(شاسی ثابت) سوار شده اند.</li>
          <li>شامل سیستم های کنترلی ,اندازه گیری و مخزن نگهداری فوم میباشد</li>
          <li>مجهز به تجهیزات نشانگر نرخ جریان فوم، گاز و فشار آنها می باشد و مشخصات فوم را در هر زمان به طور دقیق
            نشان می دهد
          </li>
          <li> می توان به راحتی دستگاه را توسط تریلی جا به جا کرد</li>
          <li>نرخ جریان : 1-240 Lit/h </li>
          <li> حداکثر فشار کاری : 35 MPa </li>
          <li>شرایط محیطی : زمین/ خشکی در میدان های نفتی </li>
        </ul>
      </div>
    </div>
  </section>


{% endblock %}