{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}

{% endblock %}


{% block content %}




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
<div class="container product-custom-info">
  <div class="row">
    <h3 class="byekanfont2 mb-4">
      safety valve
    </h3>
  </div>
  <div class="row">
    <p class="byekanfont--description mb-4 p-tag" dir="rtl">
      شیر ایمنی درون چاهی با کنترل سطح (Surface Controlled sub surface Safety Valve) یا SC3SV تجهیزی ست جهت کنترل ورود و
      خروج جریانات چاه و نوسانات رشته تکمیلی درون چاهی. این تجهیز در دو نوع کلی Tubing Retrievable و Wireline
      Retrievable دسته بندی می شود. شرکت دمیکو مفتخر به تولید هر دو نوع شیر ایمنی بر اساس استاندارد های طراحی انجمن نفت
      و گاز امریکا (API) می باشد. شیرهای ایمنی و تجهیزات مربوط به آن در شرکت دمیکو بر اساس استاندارد API
      14A-API14B-API14L طراحی و تولید می شود.
      مکانیزم عملکرد این محصول بصورت هیدرولیکی ست. در شیر های ایمنی Wireline Retrievable فشار روغن از سطح، به وسیله لوله
      ای باریک به نام Control Line به شیر ایمنی می رسد. فشار روغن با فشرده کردن یک فنر بزرگ که از سوپر آلیاژ های فولادی
      ساخته می شود، دریچه شیر ایمنی را باز می کند. از روغن هیدرولیک، بعنوان سیال عملگر کنترلی این وسیله استفاده می شود.
      این شیر ها بصورت Normally Closed هستند یعنی در صورت عدم وجود فشار روغن در کنترل لاین، بسته می شود.
      در ساخت این محصول از نشت بند های الاستومری استفاده می شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان داخلی
      و خارجی تامین می کند که همین موضوع باعث عمر بالای تجهیزات این شرکت شده است.
      شرکت دمیکو موفق به اخذ گرید V4 طراحی بر اساس استاندارد های انجمن نفت و گاز امریکا (API)، توسط نهاد صدور گواهینامه
      های کیفیت انجمن نفت ایران (IPICB) گردیده است.
    </p>
  </div>

   <div class="splide mt-4 mb-4">
     <div class="splide__track">
       <ul class="splide__list">
         <li class="splide__slide text-center"><img src="{% static 'images/products/safetyvalve/horz1.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/safetyvalve/vert1.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/safetyvalve/vert2.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/safetyvalve/vert3.png' %}" /></li>
         <li class="splide__slide text-center"><img src="{% static 'images/products/safetyvalve/horz1.png' %}" /></li>
       </ul>
     </div>
   </div>

  <div class="row table_row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">Max OD</th>
            <th scope="col">Min ID</th>
            <th scope="col">V-Packing Nominal size</th>
            <th scope="col">Opening Pressure</th>
            <th scope="col">Equalizing Pressure</th>
            <th scope="col">Closing Pressure</th>
            <th scope="col">Thread</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.875”</td>
            <td>3.650”</td>
            <td>5.963”</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>5-1/16”–SLB–8x1”–BOX UP</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.933”</td>
            <td>3.260”</td>
            <td>5.950”</td>
            <td>1200 psi</td>
            <td>1800 psi</td>
            <td>600 psi</td>
            <td>5-1/4”-STUB ACME-8×1”-PIN UP</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.875”</td>
            <td>3.650”</td>
            <td>5.963”</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>5-1/16”-SLB -8×1”-BOX UP</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>7” ×5”×4.5”</td>
            <td>5.950”</td>
            <td>5.933”</td>
            <td>3.260”</td>
            <td>1200 psi</td>
            <td>1800 psi</td>
            <td>600 psi</td>
            <td>5-1/4”-STUB ACME-8×1”-PIN UP</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.933”</td>
            <td>3.260”</td>
            <td>5.950”</td>
            <td> 1200 psi</td>
            <td>1800 psi</td>
            <td>600 psi</td>
            <td>5-1/4”-STUB ACME-8×1”-PIN UP</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>5.963”</td>
            <td>5.875”</td>
            <td>3.650”</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>5-1/16”-SLB -8×1”-BOX UP</td>
            <td>10000Psi</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>3.735”</td>
            <td>2”</td>
            <td>3.750”</td>
            <td>1200 psi</td>
            <td>1800 psi</td>
            <td>600 psi</td>
            <td>3-1/8”-SLB -8×1”-BOX UP</td>
            <td>10000 Psi</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.875”</td>
            <td>3.650”</td>
            <td>5.963”</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>5-1/16”-SLB -8×1”-BOX UP</td>
            <td>10000Psi</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>7” ×4.5”×3.5”</td>
            <td>3.8”</td>
            <td>2.125”</td>
            <td>3.813</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>3-1/16”-SLB -12×1”-BOX UP</td>
            <td>5000Psi</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>7” ×4.5”×3.5”</td>
            <td>3.675”</td>
            <td>2”</td>
            <td>3.688”</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>3-1/16”-SLB -12×1”-BOX UP</td>
            <td>5000Psi</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>7” ×4.5”×3.5”</td>
            <td>3.675</td>
            <td>2”</td>
            <td>3.688”</td>
            <td>450 psi</td>
            <td>3500 psi</td>
            <td>600 psi</td>
            <td>3-1/16”-SLB -12×1”-BOX UP</td>
            <td>5000Psi</td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- <div class="container"> -->
  <!-- </div> -->
 
</div>

</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
{% endblock %}