{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}

{% endblock %}


{% block content %}


  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
  <div class="container product-custom-info">
    <div class="row">
      <h3 class="byekanfont2 mb-4">
        lock mandrel
      </h3>
    </div>
    <div class="row">
      <p class="byekanfont--description mb-4 p-tag" dir="rtl">
      وظیفه این قطعه نگه داشتن شیر ایمنی درون پستانک (LANDING NIPPLE) است این مجموعه از طرف TOP SUB، به شیر ایمنی متصل
      می شود. و کل این مجموعه درون پستانک شیر ایمنی قرار می گیرد. در ساخت این محصول از نشت بند های الاستومری استفاده می
      شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان داخلی و خارجی تامین می کند که همین موضوع باعث عمر بالای
      تجهیزات این شرکت شده است.
      شرکت دمیکو موفق به اخذ گرید V4 طراحی بر اساس استاندارد های انجمن نفت و گاز امریکا (API)، توسط نهاد صدور گواهینامه
      های کیفیت انجمن نفت ایران (IPICB) گردیده است
      </p>
    </div>

      <div class="splide mb-4 mt-4">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/horz1.png' %}" /></li>
            <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/vert1.png' %}" /></li>
            <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/vert2.png' %}" /></li>
            <li class="splide__slide text-center"><img src="{% static 'images/products/lockmandrel/vert3.png' %}" /></li>
          </ul>
        </div>
      </div>

    <div class="row table_row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">Suitable SC3SV size</th>
            <th scope="col">lcok Profile</th>
            <th scope="col">NO go OD</th>
            <th scope="col">Keys Expanded OD</th>
            <th scope="col">V-Packing Nominal size</th>
            <th scope="col">Fishing Neck Size</th>
            <th scope="col">Thread</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.963”</td>
            <td>RQ</td>
            <td>6.1”</td>
            <td>6.345”</td>
            <td>6”</td>
            <td>4.750”</td>
            <td>5-1/16”–SLB–8x1”–PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.950</td>
            <td>AF</td>
            <td>6.02”</td>
            <td>6.565”</td>
            <td>5.950”</td>
            <td>4.250”</td>
            <td>5-1/4”–STUB ACME–8x1”–BOX DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>5.963”</td>
            <td>RQ</td>
            <td>6.1”</td>
            <td>6.345”</td>
            <td>6”</td>
            <td>4.750”</td>
            <td>5-1/16”–SLB–8x1”–PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>7” ×5”×4.5”</td>
            <td>5.950”</td>
            <td>AF</td>
            <td>6.02”</td>
            <td>6.565”</td>
            <td>5.950”</td>
            <td>4.250”</td>
            <td>5-1/4”–STUB ACME–8x1”–BOX DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.963”</td>
            <td>RQ</td>
            <td>6.1”</td>
            <td>6.345”</td>
            <td>6”</td>
            <td>4.750”</td>
            <td>5-1/16”–SLB–8x1”–PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>5.950”</td>
            <td>AF</td>
            <td>6.02”</td>
            <td>6.565”</td>
            <td>5.950”</td>
            <td>4.250”</td>
            <td>5-1/4”–STUB ACME–8x1”–BOX DOWN</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>3.813”</td>
            <td>RQ</td>
            <td>3.963”</td>
            <td>4.265”</td>
            <td>3.875”</td>
            <td>3.120”</td>
            <td>3-1/16”–SLB–12x1”–PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>7” ×4.5”×3.5”</td>
            <td>3.688”</td>
            <td>RQ</td>
            <td>3.742”</td>
            <td>3.953”</td>
            <td>3.688”</td>
            <td>3.120”</td>
            <td>3-1/16”–SLB–12x1”–PIN DOWN</td>
            <td>5000psi</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>7” ×4.5”×3.5”</td>
            <td>5.963”</td>
            <td>RQ</td>
            <td>6.1”</td>
            <td>6.345”</td>
            <td>6”</td>
            <td>4.750”</td>
            <td>3-1/16”–SLB–8x1”–PIN DOWN</td>
            <td>5000psi</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>7” ×4.5”×3.5”</td>
            <td>3.750”</td>
            <td>AF</td>
            <td>3.805”</td>
            <td>4.205”</td>
            <td>3.750”</td>
            <td>3.120”</td>
            <td>3-1/16”–SLB–12x1”–PIN DOWN</td>
            <td>10000psi</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>7” ×4.5”×3.5”</td>
            <td>3.668”</td>
            <td>RQ</td>
            <td>3.742”</td>
            <td>3.953”</td>
            <td>3.688”</td>
            <td>3.120”</td>
            <td>3-1/16”–SLB–12x1”–PIN DOWN</td>
            <td>10000psi</td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- <div class="container"> -->
    <!-- </div> -->
  
  </div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}