{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
خدمات فنی فراورش سیار نفت
{% endblock %}


{% block content %}



  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->



  
<section id="product" class="product">
    <div class="container mb-0" dir="rtl">
      <div class="row">
        <div class="col-sm-12">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-right">
            <h1>خدمات فنی فراورش سیار نفت</h1>
            <div class="divider"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row m-4">
      <div class="col">
        <img src="{% static 'images/products/hafari/khadamatfanisayar/prodcut.jpg' %}" class="image-custom-product" data-aos="fade-left"/>
      </div>
      <div class="col product-second-column" data-aos="fade-right">
        <p class="byekanfont--description p-tag" dir="rtl">
       شرکت دمیکو مفتخر است با توجه به این موضوع که در سالیان گذشته سوزاندن نفت چاه های حفاری شده و چاه هایی که تحت تعمیر، اسیدکاری و یا آزمایش قرار می گرفتند، امری معمول و متداول در صنعت نفت بوده است که این امر علاوه بر اتلاف انرژی و خسارت مالی وارده، باعث آلودگی شدید محیط زیست می گردید. با توجه به حجم فعالیت هایی از جمله اسید کاری، عملیات های توسعه ای، تعمیر و ترمیمی در شرکت های بهره بردار، نفت سوزانده
        شده حجم قابل توجهی داشته که در سالیان اخیر با اتصال دستگاه های MOS و MOT به چاه می توان ضمن رعایت الزامات زیست محیطی و کاهش آلودگی هوا، نفت خروجی از چاه را که دارای مقادیر متفاوت ناخالصی و شرایط نا مطلوب است دریافت و پس از جداسازی ذرات معلق، رسوبی، آب و خنثی نمودن اسید، سیال تولیدی را فرآورش و پس از تقویت و ایجاد شرایط مناسب به کارخانه بهره بردار ارسال نمود.
        </p>
      </div>
    </div>
  </section>
{% endblock %}