
{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}

{% endblock %}


{% block content %}




  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="products-daronchahi" class="products-daronchahi margin-adder-product">
    <div class="container product-custom-info">
    <div class="row">
      <h3 class="byekanfont mb-4">
        anchor
      </h3>
    </div>
    <div class="row">
      <p class="byekanfont--description mb-4 p-tag " dir="rtl">
        ، تجهیزی است که ارتباط باقی رشته درون چاهی را با مجموعه PACKER برقرار می¬سازد. این تجهیز خصوصا هنگام تعمیرات چاه
        نقش مهمی را ایفا می کند بطوری که هنگام وقوع مشکل در چاه، با باز کردن این تجهیز از مجموعه PACKER، می توان کل رشته
        را از چاه بیرون کشید.
        در ساخت این محصول از نشت بند های الاستومری استفاده می شود که شرکت دمیکو این قطعات را از بهترین تولید کنندگان
        داخلی و خارجی تامین می کند که همین موضوع باعث عمر بالای تجهیزات این شرکت شده است.
        این تجهیز در شرکت دمیکو با سایزهای مختلف مطابق جدول زیر تولید می شود.
      </p>
    </div>


      <div class="splide mt-4 mb-4">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide text-center"><img src="{% static 'images/products/anchor/horz1.png' %}" /></li>
            <li class="splide__slide text-center"><img src="{% static 'images/products/anchor/horz2.png' %}" /></li>
            <li class="splide__slide text-center"><img src="{% static 'images/products/anchor/vert1.png' %}" /></li>
            <li class="splide__slide text-center"><img src="{% static 'images/products/anchor/vert2.png' %}" /></li>
          </ul>
        </div>
      </div>

    <div class="row table_row">
      <table class="table mb-4">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">SIZE</th>
            <th scope="col">Casing Spec</th>
            <th scope="col">Material</th>
            <th scope="col">Max OD</th>
            <th scope="col">Min ID</th>
            <th scope="col">Top thread</th>
            <th scope="col">Bottom thread</th>
            <th scope="col">Working Pressure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>9-5/8”-43.5-58.4 PPF</td>
            <td>4140</td>
            <td>6.5”</td>
            <td>4.750”</td>
            <td>5-1/2” New VAM BOX</td>
            <td>6-1/2” –OD LH SQ Thd PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>7”29-32 PPF</td>
            <td>4140/13Cr</td>
            <td>5.5”</td>
            <td>3.875”</td>
            <td>4-1/2” New VAM BOX</td>
            <td>5-1/8” –OD LH SQ Thd PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>9-5/8” ×7”×5.5”</td>
            <td>7”29-32 PPF</td>
            <td>4140/13Cr</td>
            <td>4.5”</td>
            <td>2.992”</td>
            <td>3-1/2” New VAM BOX</td>
            <td>4-1/2” –OD LH SQ Thd PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>7” ×5”×4.5”</td>
            <td>7”29-35 PPF</td>
            <td>4140/13Cr</td>
            <td>4.980”</td>
            <td>3.250”</td>
            <td>4-1/2” New VAM BOX</td>
            <td>4-3/4” –OD LH SQ Thd PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>7” ×4.5”×3.5”</td>
            <td>7”32-35 PPF</td>
            <td>4140/13Cr</td>
            <td>4.5”</td>
            <td>2.990”</td>
            <td>3-1/2” New VAM BOX</td>
            <td>4-1/2” –OD LH SQ Thd PIN DOWN</td>
            <td>5000 psi</td>
          </tr>
            <tr>
            <th scope="row">6</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>7”32-35 PPF</td>
            <td>4140/13Cr</td>
            <td>4.980”</td>
            <td>3”</td>
            <td>4-1/2” New VAM BOX</td>
            <td>4-3/4” –OD LH SQ Thd PIN DOWN</td>
            <td>10000 psi</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>9-5/8” ×7”×4.5”</td>
            <td>7”32-35 PPF</td>
            <td>4140/13Cr</td>
            <td>4.980”</td>
            <td>3”</td>
            <td>4-1/2” New VAM BOX</td>
            <td>4-3/4” –OD LH SQ Thd PIN DOWN</td>
            <td>10000 psi</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>7” ×4.5”×3.5”</td>
            <td>7”32-35 PPF</td>
            <td>4140/13Cr</td>
            <td>4.5”</td>
            <td>2.990”</td>
            <td>3-1/2” New VAM BOX</td>
            <td>4-1/2” –OD LH SQ Thd PIN DOWN</td>
            <td>10000 psi</td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
  <!-- <div class="container"> -->
    <!-- </div> -->


</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}