{% extends 'base.html' %}
{% load static %}

{% load change %} 


{% block title %}
استراتژی و اهداف
{% endblock %}

{% block content %}


  <!-- ///////////////////////////////////// description about the product \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section id="orgconst" class="orgconst">
  <div class="container">
    <img src="{% static 'images/managment/goal.jpg' %}" class="orgmang-custom-managment" />
  </div>
</section>


<!-- //////////////////////////////////ABOUT US FINISHED\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

{% endblock %}