@use '../../../components/mixins' as *;
@use '../../../components/mixins' as *;
.welcome{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.put-news-section{

}

.button-register-news{
  width: 100% !important;
  justify-content: center;
}

.custom-form-news{
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
  text-align: start !important;
  &> label{
    right: 0 !important;
    margin-right: 0% !important;
  }
}

.custom-form-text{
  & > textarea{
    height: 300px !important;
  }
}

.upper-layer{
 @include transitionProperty;
 background-color: rgba(0, 0, 0, 0.308);
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 opacity: 0;
 visibility: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 & > button{
   margin: 1rem;
   
 }
}

.container-custom-news-managment{
  cursor: pointer;
  @include transitionProperty;
  position: relative;
  &:hover{
    background-color: rgba(0, 0, 0, 0.247);
    .upper-layer{
      opacity: 1;
      visibility: visible;
    }
  }
}
