@use '../../../custom'as *;



.orgconst{
  margin: 15rem;
  @include media-breakpoint-down(lg) {
    margin: 8rem;
  } 

  @include media-breakpoint-down(md) {
    margin: 5rem;
  } 

  @include media-breakpoint-down(sm) {
    margin: 2rem;
  }

}
.orgmang-custom-managment{
  max-width: 100%;
  max-height: 100%;
}