@use '../custom' as *;



.service-box{
  font-family:BYekan,
  'BYekan',
  tahoma;
}

.service-box::after {
  content: '';
  display: block;
  margin: auto;
  height: 4px;
  width: 0px;
  background: $white;
  transition: all 0.1s linear;
  
}

.service-box:hover::after {
  width: 100%;
}