@use '../custom'as *;
@use '../components/mixins' as *;

.navigation-button{
  position: relative;
  padding: 0.937rem 2.5rem 0.937rem 2.5rem;
  font-weight: 800;
  margin: 0;
  border: 0.1rem solid rgba($white, 0.6);
  background-color: $demico;
  color: $white;
  span{
    @include transitionProperty;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
      font-size: 1rem;
      line-height: 2.5rem;
    }
  }
  &:hover{
    background-color: $demico;
    color: $demico;
    span{
      visibility: visible;
      opacity: 1;
      left: calc(100% - 2.5rem);
      right: 0;
      background-color: rgba($black, 0.6);
    }
  }     
}

.scroll-button{
  @include transitionProperty;
  width: 2.5rem;
  height: 2.5rem;
  font-weight: 800;
  border-radius: 5rem;
  margin-top: 1rem;
  border: 0.1rem solid rgba($white, 0.6);
  background-color: $demico;
  color: $white;
  i{
    @include transitionProperty;
  }
  &:hover{
    i{
      transform: translateY(0.5rem);
      color: $white;
    }        
  }     
}

.custom-button-main-news{
  text-align: center;
  &::before{
    display: none;
  }
  outline: $headerback !important;
}
