  @use '../custom'as *;

  // GRADIENT MIXINS
  @mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
  }

  @mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //Transition Property

  @mixin transitionProperty {
    transition-duration: 1000ms;
    transition-property: all;
  }


  

  //#6865ca
//#ebebf9
//#9999d5
//#7f7fc5
//#b4ace7
//#acb4e7
//#8c84c9
//#6461a2
//#726de4
//#bcb4cc
