@use '../custom' as *;
@font-face {
  font-family: 'iransans-bold';
  src: local('iransans'), url(../../fonts/iransans/iransans_bold.ttf) format('truetype');
}
@font-face {
  font-family: 'iransans';
  src: local('iransans'), url(../../fonts/iransans/iransans.ttf) format('truetype');
}

.persia{
  font-family: Arial, Helvetica, sans-serif;
}

// .title-bold{
//   font-family: 'iransans';
//   font-size: 3em !important;
// }

.byekanfont{
  font-family:BYekan,
  'BYekan',
  tahoma;
  font-size: 1.7em;
   @include media-breakpoint-down(lg){
     font-size: 1.5em;
   }
   @include media-breakpoint-down(md){
     font-size: 1em;
   }
   @include media-breakpoint-down(sm){
     font-size: 0.8em;
   }
   &--description{
    font-family:BYekan,
    'BYekan',
    tahoma;
    font-size: 0.8em;

    @include media-breakpoint-down(lg) {
      font-size: 0.8em;
    }
    @include media-breakpoint-down(md){
      font-size: 0.65em;
    }
   }
    &--description2{
    font-family:BYekan,
    'BYekan',
    tahoma;
    font-size: 0.5em;

    @include media-breakpoint-down(lg) {
      font-size: 0.4em;
    }
    @include media-breakpoint-down(md){
      font-size: 0.64em;
    }
   }
}
.byekanfontjust{
  font-family:BYekan,
  'BYekan',
  tahoma;
}

.byekanfont2{
  font-family:BYekan,
  'BYekan',
  tahoma;
  font-size: 3em;
   @include media-breakpoint-down(lg){
     font-size: 1.5em;
   }
   &--description{
    font-family:BYekan,
    'BYekan',
    tahoma;
    font-size: 0.8em;

    @include media-breakpoint-down(lg) {
      font-size: 0.8em;
    }
    @include media-breakpoint-down(md){
      font-size: 0.55em;
    }
   }
}


.persia-markazi{
  font-family: 'Markazi Text',
  serif; 
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  margin: 0 auto;
  display: block;
  background-color: $demico;
}

.heading-line::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  padding: 0.2rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 0.1rem;
  background-color: $demico;
}

.section-title {
  max-width: 800px;
  margin: 80px auto;
  padding: 15px;
  text-align: center;
}

.section-title h1 {
  font-size: 24px;
  text-transform: uppercase;
  color: $headerback;
}

.section-title .divider {
  position: relative;
  border-bottom: 1px solid $headerback;
  margin-bottom: 30px;
  margin-top: 30px;
}

.section-title .divider:before {
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  border: 1px solid #f0f0f0;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  background: #fff;
  margin-top: -15px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section-title .divider:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid $headerback;
  left: 50%;
  margin-left: -10px;
  top: 50%;
  background: $headerback;
  margin-top: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.p-tag{
  text-align: justify;
  text-justify: inter-word;
}

// 005d7c