@import "../node_modules/bootstrap/scss/bootstrap.scss";
//IMPORT BOOTSTRAP5
//WHITE AND GREY COLORS
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
//PURPLE AND PINK MY THEME COLORS
$purple-dark: #9926f0;
$purple-light: #BB6ef5;
$pink: #d122e3;
$footer2 : #151414;
$footer : #005d7c;
$secondary : $pink;
$demico : #212529;
//ACCORDION OVERRIDES
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;
$color1:teal;
$newdemico : #6967CA;
$demsecondary : #B3B4E7;
$headerback2 : #203464;
$headerback : #005d7c;
$btn-box-shadow: $headerback;
$accordion-icon-color: $black;
$accordion-icon-active-color: $headerback;
$primary: #203464;

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");
$accordion-icon-width: 1.875rem !default;
//IMPORT BOOTSTRAP 5
